<script setup lang="ts">
import { useBillPaymentStore } from '@/stores/billPayment/billPayment'
import { useTypeBillPaymentStore } from '@/stores/billPayment/typeBillPayment'
import type { BillPayment } from '@/types/BillPayment/BillPayment'
import { nextTick, onMounted, ref } from 'vue'
import type { VForm } from 'vuetify/components'

const billPaymentStore = useBillPaymentStore()
const typeBillPaymentStore = useTypeBillPaymentStore()
const headers = [
  {
    title: 'ID',
    key: 'id'
  },
  {
    title: 'Type',
    key: 'type',
    value: 'typeBill' //name
  },
  {
    title: 'Total (Baht)',
    key: 'total',
    value: 'total'
  },
  {
    title: 'Date',
    key: 'date',
    value: 'date'
  },
  // {
  //   title: 'Time',
  //   key: 'time',
  //   value: 'time'
  // },
  { title: 'Delete', key: 'delete', sortable: false }
]

// const searchQuery = ref('')
const form = ref(false)
const refForm = ref<VForm | null>(null)
const dialog = ref(false)
const dialog1 = ref(false)
const dialogDelete = ref(false)
const loading = ref(false)
// const editedBillPayment = ref<BillPayment>(JSON.parse(JSON.stringify(initialBillPayment)))

function onSubmit() {}

function closeDelete() {
  dialogDelete.value = false
  nextTick(() => {
    billPaymentStore.clearForm()
  })
}

async function deleteItemConfirm() {
  await billPaymentStore.deleteBillPayment()
  closeDelete()
}

async function deleteItem(item: BillPayment) {
  if (!item.id) return
  await billPaymentStore.getBillPayment(item.id)
  dialogDelete.value = true
}

// async function editItem(item: BillPayment) {
//   if (!item.id) return
//   await billPaymentStore.getBillPayment(item.id)
//   dialog.value = true
// }

function closeDialog() {
  dialog.value = false
  nextTick(() => {
    billPaymentStore.clearForm()
  })
}

function closeDialog1() {
  dialog1.value = false
  nextTick(() => {
    billPaymentStore.clearForm()
  })
}

async function save() {
  const { valid } = await refForm.value!.validate()
  if (!valid) return
  await billPaymentStore.saveBillPayment()
  closeDialog()
}

async function save1() {
  billPaymentStore.billPayment = true
  console.log('filteredBillPayments', billPaymentStore.filteredBillPayments)
  const { valid } = await refForm.value!.validate()
  if (!valid) return
  await billPaymentStore.saveBillPayment()

  // await checkStockStore.saveCheckStock()
  closeDialog1()
}

onMounted(async () => {
  await billPaymentStore.getBillPayments()
  await typeBillPaymentStore.getTypeBillPayments()
})
</script>

<template>
  <v-container fluid style="background-color: #c6ac8f">
    <v-row>
      <v-col cols="8">
        <div style="padding-bottom: 20px">
          <v-text-field
            v-model="billPaymentStore.searchQuery"
            density="compact"
            label="Search Expense"
            prepend-inner-icon="mdi-magnify"
            color="#5e503f"
            style="width: 400px; color: black; background-color: #eae0d5; border-radius: 7%"
            variant="outlined"
            hide-details
            single-line
          ></v-text-field>
        </div>
      </v-col>

      <v-col cols="4" class="d-flex align-end flex-column">
        <v-dialog v-model="dialog1" persistent width="1024">
          <template v-slot:activator="{ props }">
            <v-btn color="#6f4e37" variant="flat" v-bind="props"> Bill Details </v-btn>
          </template>

          <!-- Check Stock -->
          <v-card style="background-color: #c6ac8f">
            <v-card-title style="text-align: center; height: 80px; color: white">
              <span class="text-h5" style="margin: 2px"><br />Bill Details</span>
            </v-card-title>
            <v-card-text>
              <v-form ref="refForm" v-model="form" @submit.prevent="onSubmit">
                <v-container>
                  <v-row>
                    <CheckStock></CheckStock>
                  </v-row> </v-container></v-form
            ></v-card-text>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="#bc4749" variant="flat" @click="closeDialog1()"> Close </v-btn>
              <v-btn color="#4bab57" variant="flat" border="1px" @click="save1()"> Save </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-col>
    </v-row>

    <v-row>
      <v-card style="width: 100%">
        <v-data-table
          :headers="headers"
          :items="billPaymentStore.filteredBillPayments"
          style="background-color: #eae0d5"
          :search="billPaymentStore.searchQuery"
          item-key="id"
        >
          <!-- <template v-slot:[`item.status`]="{ item }">
            <v-chip :color="billPaymentStore.getColor(item.status)" size="small" label>
              {{ item.status }}
            </v-chip>
          </template> -->
          <template v-slot:top>
            <v-toolbar flat style="background-color: #6f4e37; color: white; border: 1%">
              <v-toolbar-title>Bill Payment</v-toolbar-title>
              <v-divider class="mx-4" inset vertical></v-divider>
              <v-spacer></v-spacer>

              <!-- Put Edited Dialog -->

              <v-dialog v-model="dialog" persistent width="1024">
                <template v-slot:activator="{ props }">
                  <v-btn variant="outlined" color="white" v-bind="props"> New Bill Payment </v-btn>
                </template>

                <v-card style="background-color: #eae0d5">
                  <v-card-title>
                    <span class="text-h5">Bill Payment Profile</span>
                  </v-card-title>
                  <v-card-text>
                    <v-form ref="refForm" v-model="form" @submit.prevent="onSubmit">
                      <v-container>
                        <v-row>
                          <v-col cols="12" md="12" style="padding: 0">
                            <!-- <v-combobox
                      v-model="billPaymentStore.editedbillPay.user"
                      :items="[authStore.getCurrentUser()]"
                      item-title="fullName"
                      item-value="id"
                      label="User"
                      :rules="[(v) => !!v || 'Field is required']"
                    ></v-combobox> -->
                          </v-col>
                          <v-col cols="12" sm="12" md="6">
                            <v-combobox
                              label="Type of Bill"
                              :items="['Rent', 'Electric', 'Water', 'Others']"
                              v-model="billPaymentStore.editedBillPayment.typeBill"
                            ></v-combobox>
                          </v-col>
                          <v-col cols="12" sm="12" md="6">
                            <v-text-field
                              v-model="billPaymentStore.editedBillPayment.total"
                              :readonly="loading"
                              :rules="[(v) => !!v || 'Field is required']"
                              class="mb-2"
                              clearable
                              label="Total"
                            ></v-text-field>
                          </v-col>
                        </v-row>
                      </v-container>
                    </v-form>
                    <small>*indicates required field</small>
                  </v-card-text>
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="#bc4749" variant="flat" @click="closeDialog()"> Close </v-btn>
                    <v-btn color="#4bab57" variant="flat" border="1px" @click="save()">
                      Save
                    </v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>

              <!-- Delete Dialog-->
              <v-dialog v-model="dialogDelete" max-width="500px">
                <v-card style="background-color: rgb(255, 245, 236)">
                  <v-card-title class="text-h5"
                    >Are you sure you want to delete this item?</v-card-title
                  >
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="rgb(255, 81, 81)" variant="flat" @click="closeDelete"
                      >Cancel</v-btn
                    >
                    <v-btn color="green-darken-1" variant="flat" @click="deleteItemConfirm"
                      >OK</v-btn
                    >
                    <v-spacer></v-spacer>
                  </v-card-actions>

                  <v-dialog v-model="dialog">
                    <v-card class="mx-auto" style="width: 700px">
                      <v-card-title class="text-h5" style="text-align: center">
                        Bill Details<br />-------------------------------------------</v-card-title
                      >
                      <!-- <v-container>
                    <ReportDetail></ReportDetail>

                    <v-row><br /></v-row>
                  </v-container> -->

                      <v-card-actions>
                        <v-col cols="3"></v-col>
                        <v-col cols="6"
                          ><v-btn
                            width="150px"
                            color="rgb(255, 81, 81)"
                            variant="flat"
                            @click="closeDialog()"
                          >
                            Close
                          </v-btn>
                          <v-btn width="150px" color="blue-darken-2" variant="flat">
                            Print
                          </v-btn></v-col
                        >
                        <v-col cols="3"></v-col>
                      </v-card-actions>
                      <!-- <v-card-text> {{ stockStore.editedCheckStock }} </v-card-text> -->
                    </v-card>
                  </v-dialog>
                </v-card>
              </v-dialog>
            </v-toolbar>
          </template>

          <template v-slot:[`item.delete`]="{ item }">
            <!-- <v-icon size="small" class="me-2" @click="editItem(item)"> mdi-pencil </v-icon> -->
            <!-- <v-icon size="small" @click="deleteItem(item)"> mdi-delete </v-icon> -->
            <v-icon size="x-large" color="red-accent-4" @click="deleteItem(item)">
              mdi-delete-circle
            </v-icon>
          </template>
          <!-- <template v-slot:[`item.image`]="{ item }">
        <v-img :src="'http://localhost:3000/images/materials/' + item.image" width="100"></v-img>
      </template> -->

          <template v-slot:no-data>
            <v-btn color="#5e503f" @click="billPaymentStore.getBillPayments"> Reset </v-btn>
          </template>
        </v-data-table>
      </v-card>
    </v-row>
  </v-container>
</template>
