<script setup lang="ts">
import { ref } from 'vue'
import { useReportStore } from '@/stores/stock/report'
import type ReportPurQtyDay from './ReportPurQtyDay.vue';
import ReportPurPriceDay from './ReportPurPriceDay.vue';
import ReportPurQtyMonth from './ReportPurQtyMonth.vue';
import ReportPurPriceMonth from './ReportPurPriceMonth.vue';
import ReportPurQtyYear from './ReportPurQtyYear.vue';
import ReportPurPriceYear from './ReportPurPriceYear.vue';

const reportStore = useReportStore()
const dialog = ref(false)
const month = [
  'January',
  'February',
  'March',
  'April',
  'May',
  'June',
  'July',
  'August',
  'September',
  'October',
  'November',
  'December'
]
const day = ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31']

function submit() {
  if (reportStore.year1 === '') {
    dialog.value = true
  } else {
    console.log(reportStore.year1)
    reportStore.getReportUsedYear(reportStore.year1)
  }
}

function submitMonthly() {
  if (reportStore.year1 === '' || reportStore.month1 === '' || reportStore.day1 === '') {
    dialog.value = true
  } else {
    reportStore.getMonth(reportStore.month1)
    console.log(reportStore.month1)

    reportStore.getReportPurPriceYear(reportStore.year1)
    reportStore.getReportPurQtyYear(reportStore.year1)
    reportStore.getReportPurPriceMonth(reportStore.year1, reportStore.month1)
    reportStore.getReportPurQtyMonth(reportStore.year1, reportStore.month1)
    reportStore.getReportPurPriceDay(reportStore.year1, reportStore.month1, reportStore.day1)
    reportStore.getReportPurQtyDay(reportStore.year1, reportStore.month1, reportStore.day1)
  }
}

const tab = ref(0)
</script>
<template>
  <!-- <v-dialog v-model="reportStore.dialogGraph" persistent width="60%" height="90%"> -->
  <v-card>
    <v-card-title style="text-align: center; background-color: #c6ac8f" class="text-h5">
      <v-row><v-col cols="7" style="text-align: right">Report Stock Used</v-col>
        <v-col cols="5" style="text-align: right">
          <v-icon size="small" color="#5e503f" @click="reportStore.closeGraph()">
            mdi-close-box
          </v-icon></v-col></v-row>
    </v-card-title>
    <v-container>
      <v-col cols="12"><v-row>
          <v-tabs v-model="tab" style="background-color: rgb(111, 52, 0); width: 100%" align-tabs="center">
            <v-tab value="yearly" color="#FEE19F" style="font-weight: bold">Yearly</v-tab>
            <v-tab value="monthly" color="#FEE19F" style="font-weight: bold">Monthly</v-tab>
            <v-tab value="daily" color="#FEE19F" style="font-weight: bold">Daily</v-tab>
          </v-tabs> </v-row><v-row>
          <v-card-text>
            <v-window v-model="tab">
              <!--รายปี-->
              <v-window-item value="yearly">
                <!--เลือกปี-->
                <v-container>
                  <v-row>
                    <v-col cols="10">
                      <v-autocomplete label="Year" :items="['2024', '2023']" item-text="year1" return-object
                        v-model="reportStore.year1">
                      </v-autocomplete>
                    </v-col>
                    <v-col cols="2">
                      <v-btn color="btn" @click="submit" style="width: 100%; height: 55px">View</v-btn>
                    </v-col>
                  </v-row>
                </v-container>

                <ReportPurQtyYear></ReportPurQtyYear>
                <ReportPurPriceYear></ReportPurPriceYear>
              </v-window-item>

              <!--Dialog-->
              <v-dialog v-model="dialog" max-width="900px">
                <template v-slot:default="{ isActive }">
                  <v-card class="mx-auto" prepend-icon="mdi-alert-circle" width="400" style="background-color: #fbe9e7">
                    <template v-slot:title> Select not found. </template>

                    <v-card-text> Please select year or month </v-card-text>

                    <template v-slot:actions>
                      <v-col cols="9"></v-col>
                      <v-col cols="3">
                        <v-btn width="50px" color="rgb(255, 81, 81)" variant="flat" @click="isActive.value = false">
                          Close
                        </v-btn>
                      </v-col>

                      <!-- <v-btn class="ml-auto" text="Close" @click="isActive.value = false"></v-btn> -->
                    </template>
                  </v-card>
                </template>
              </v-dialog>

              <!--รายเดือน-->
              <v-window-item value="monthly">
                <v-container>
                  <v-row>
                    <v-col cols="5">
                      <v-autocomplete label="Year" :items="['2024', '2023']" item-text="year1" return-object
                        v-model="reportStore.year1">
                      </v-autocomplete>
                    </v-col>
                    <v-col cols="5">
                      <v-autocomplete label="Month" :items="month" item-text="month" return-object
                        v-model="reportStore.month1">
                      </v-autocomplete>
                    </v-col>
                    <v-col cols="2">
                      <v-btn color="primary" @click="submitMonthly" style="width: 100%; height: 55px">View</v-btn>
                    </v-col>
                  </v-row>
                </v-container>
                <ReportPurQtyMonth></ReportPurQtyMonth>
                <ReportPurPriceMonth></ReportPurPriceMonth>
              </v-window-item>
              <!--รายวัน-->
              <v-window-item value="daily">
                <v-container>
                  <v-row>
                    <v-col cols="3">
                      <v-autocomplete label="Year" :items="['2024', '2023']" item-text="year1" return-object
                        v-model="reportStore.year1">
                      </v-autocomplete>
                    </v-col>
                    <v-col cols="3">
                      <v-autocomplete label="Month" :items="month" item-text="month" return-object
                        v-model="reportStore.month1">
                      </v-autocomplete>
                    </v-col>
                    <v-col cols="3">
                      <v-autocomplete label="Day" :items="day" item-text="day" return-object v-model="reportStore.day1">
                      </v-autocomplete>
                    </v-col>
                    <v-col cols="2">
                      <v-btn color="primary" @click="submitMonthly" style="width: 100%; height: 55px">View</v-btn>
                    </v-col>
                  </v-row>
                </v-container>
                <ReportPurQtyDay></ReportPurQtyDay>
                <ReportPurPriceDay></ReportPurPriceDay>
              </v-window-item>
            </v-window>
          </v-card-text> </v-row></v-col>
    </v-container> </v-card>
  <!-- </v-dialog> -->
</template>
