<script setup lang="ts">
import axios from 'axios'
import { onMounted, reactive, ref } from 'vue'
import { Bar } from 'vue-chartjs'
import {
  Chart as ChartJS,
  Title,
  Tooltip,
  Legend,
  BarElement,
  CategoryScale,
  LinearScale
} from 'chart.js'
import { useReportStore } from '@/stores/stock/report'

const reportStore = useReportStore()

onMounted(async () => {
  await reportStore.getReportPurQtyMonth(reportStore.year1, reportStore.month1)

  console.log('ccccccc' + reportStore.chartData)
})

ChartJS.register(Title, Tooltip, Legend, BarElement, CategoryScale, LinearScale)
</script>

<template>
  <v-card class="mx-auto" height="370">
    <Bar id="my-chart-id" :options="reportStore.chartOptions" :data="reportStore.chartData" />
  </v-card>
</template>
