<script setup lang="ts">
import dayjs from 'dayjs'

import { usePurOrderStore } from '@/stores/stock/purOrder'
import { ref } from 'vue'
import type { PurOrder } from '@/types/stock/PurOrder'

defineProps<{
  purOrder: PurOrder
}>()

const purOrderStore = usePurOrderStore()

const priceBeforeDiscount = (orderItems: any) => {
  let price = 0
  for (let i = 0; i < orderItems.length; i++) {
    price += orderItems[i].total
  }

  return price
}

const getNullValue = (num: number) => {
  if (num < 0) {
    return '-'
  } else {
    return num
  }
}
</script>

<template>
  <v-card class="pa-6 mx-auto v-card_background" max-width="50%">
    <v-card-title>
      <v-row class="pa-0">
        <v-col>
          <span class="text-h5">Order ID : {{ purOrderStore.editedPurOrder.id }}</span>
        </v-col>
        <v-col style="text-align: right; font-size: 13px; font-weight: 600">
          <!-- // Format: 'YYYY-MM-DD' toISOString().slice(0, 10) -->
          Date : {{ purOrderStore.editedPurOrder.date }}</v-col
        >
      </v-row>
    </v-card-title>
    <v-container>
      <v-row>
        <v-col style="font-size: 11px; font-weight: 500">
          <div>Vender ID : {{ purOrder.vender?.id }}</div>
          <div>
            Name :
            {{ purOrder.vender?.name }}
          </div>
        </v-col>
        <v-col style="font-size: 11px; font-weight: 500; text-align: right">
          <div>User ID : {{ purOrder.user!.id }}</div>
        </v-col>
      </v-row>

      <v-row>
        <div class="mx-auto">Material List</div>
        <v-col cols="12">
          <v-card
            style="margin-left: 3px; margin-right: 3px; max-width: 80%"
            class="mx-auto v-card_background"
          >
            <v-table height="400px" class="v-card_background">
              <thead>
                <tr style="background-color: #5e503f; color: white">
                  <th class="text-left">Material</th>
                  <th class="text-left">Price</th>
                  <th class="text-left">Qty</th>
                  <th class="text-left">Total</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  v-for="item in purOrder.orderDetails"
                  :key="item.id"
                  style="font-size: 10px; background-color: white"
                >
                  <td>{{ item.name }}</td>
                  <td>{{ item.price }}</td>
                  <td>{{ item.quantity }}</td>
                  <td>{{ item.total }}</td>
                </tr>
                <tr style="font-size: 10px; background-color: white">
                  <td></td>
                  <td></td>
                  <td>Price</td>
                  <td>{{ priceBeforeDiscount(purOrder.orderDetails) }}</td>
                </tr>

                <tr style="font-size: 10px; background-color: white">
                  <td></td>
                  <td></td>
                  <td>Total</td>
                  <td>{{ purOrder.total }}</td>
                </tr>
              </tbody>
            </v-table>
          </v-card></v-col
        >
      </v-row>
    </v-container>
    <v-row>
      <v-col>
        <v-btn
          width="40%"
          color="red-darken-1"
          variant="tonal"
          @click="purOrderStore.detailDialog = false"
          >close</v-btn
        ></v-col
      ><v-col style="text-align: right">
        <v-btn
          width="40%"
          color="blue-darken-1"
          variant="tonal"
          @click="purOrderStore.createInvoiceFromObject(purOrder)"
          >Print PDF</v-btn
        ></v-col
      >
    </v-row>
  </v-card>
</template>

<style>
.v-card_background {
  background-color: #eae0d5;
}
</style>
