<script setup lang="ts">
import { type Material } from '@/types/stock/Materials'
import { useBillOrderStore } from '@/stores/stock/purOrderBill'
const billPurOrderStore = useBillOrderStore()
defineProps<{
  material: Material
}>()
const emit = defineEmits<{
  selectedMaterial: [material: Material] //selectedMaterial( mat m)
}>()
</script>

<template>
  <v-card
    magin="0"
    min-width="50"
    max-width="100%"
    height="50px"
    @click.stop="
      () => {
        emit('selectedMaterial', material)
      }
    "
    class="v-card"
  >
    <v-container>
      <v-row style="font-size: 14px"
        ><v-col cols="3" class="text-center">{{ material.name }}</v-col>
        <v-col cols="3" class="text-center">Price : {{ material.price }}</v-col>
        <v-col cols="3" class="text-center">QTY : {{ material.quantity }}</v-col>
        <v-col cols="3" class="text-center">
          <v-chip :color="billPurOrderStore.getColorStatus(material.status)" label>
            {{ material.status }}
          </v-chip></v-col
        >
      </v-row>
    </v-container>
    <!-- <div style="text-align: center; padding-bottom: 2%">
      {{ material.name }} {{ material.price }} {{ material.quantity }}
    </div> -->
  </v-card>
</template>

<style scoped>
.minimal-size {
  width: 100px;
  height: 100px;
}
.v-card {
  background-color: #eae0d5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
</style>
