<script setup lang="ts">
import { ref } from 'vue'
import { useBillOrderStore } from '@/stores/stock/purOrderBill'
import purOrder from '@/services/stocks/purOrder'
import { usePurOrderStore } from '@/stores/stock/purOrder'

const venderImg = ref(true)
const billPurOrderStore = useBillOrderStore()
const purOrderStore = usePurOrderStore()
const currentTime = billPurOrderStore.billPurOrder.date
</script>

<template>
  <v-dialog v-model="billPurOrderStore.billDialog" persistent width="340">
    <v-card style="padding-left: 4%; padding-right: 4%">
      <!-- <div class="img-container">
        <v-img
          v-if="venderImg"
          src="purOrderStore.purOrderBill.vender.image"
          class="minimal-size"
          max-width="100"
          max-height="100"
          aspect-ratio="0.5"
        ></v-img>
      </div> -->
      <div class="line"></div>
      <v-card-title
        style="text-align: center; padding: 0%; font-size: 30px"
        class="font-weight-bold"
        >Purchase Order</v-card-title
      >

      <div class="line"></div>
      <v-row style="text-align: center">
        <v-col style="font-size: 10px" cols="4"> OMGCAFE(Buu) </v-col>
        <v-col style="font-size: 10px" cols="4">
          R:id{{ billPurOrderStore.billPurOrder.id }}
        </v-col>
        <v-col style="font-size: 10px" cols="4">
          <!-- // Format: 'YYYY-MM-DD' -->
          {{ currentTime.toString().slice(0, 10) }}
        </v-col>
      </v-row>

      <v-container class="pa-0" style="text-align: center; border: 2px solid #000000">
        <v-row>
          <v-col cols="4"> Description </v-col>

          <v-col cols="4" style="text-align: left"> Quantity </v-col>
          <v-col cols="4" style="text-align: center"> Price </v-col>
        </v-row>
      </v-container>
      <v-container>
        <v-row v-for="item in billPurOrderStore.billItems" :key="item.material.id" style="">
          <v-col style="padding: 0%; padding-left: 4%">
            <v-list-item-title style="font-size: 13px">{{ item.material.name }} </v-list-item-title>
          </v-col>

          <v-col style="padding: 0%; text-align: center">
            <v-list-item-subtitle style="font-size: 10px; padding-top: 4%">
              x {{ item.quantity }}</v-list-item-subtitle
            >
          </v-col>
          <v-col style="padding: 0%; padding-right: 4%">
            <v-list-item-title style="text-align: right; font-size: 13px">
              {{ (item.material.price * item.quantity).toFixed(2) }}
            </v-list-item-title>
          </v-col>
        </v-row>
        <div class="line"></div>
        <!-- Black line -->

        <v-row>
          <v-col style="font-size: 20px" class="font-weight-bold"> TOTAL : </v-col>
          <v-col style="text-align: right; font-size: 20px" class="font-weight-bold">
            {{ billPurOrderStore.billPurOrder.total.toFixed(2) }}
          </v-col>
        </v-row>
      </v-container>

      <div class="img-container">
        <v-img
          v-if="billPurOrderStore.qrCode"
          src="./img/qr-code.png"
          class="minimal-size"
          max-width="100"
          max-height="100"
          aspect-ratio="0.5"
        ></v-img>
      </div>

      <v-container>
        <v-row>
          <v-col cols="6" style="font-size: 12px">
            <div>UserID : {{ billPurOrderStore.billPurOrder.user?.id }}</div>
          </v-col>

          <v-col cols="6" style="text-align: right; font-size: 12px">
            <div>Vender : {{ billPurOrderStore.billPurOrder.vender?.name }}</div>

            <!-- receiptStore.receipt.member ? receiptStore.receipt.member.name : '---' -->
          </v-col>
        </v-row>
      </v-container>

      <v-btn color="red" variant="text" @click="billPurOrderStore.clearForm()"> Close </v-btn>
    </v-card>
  </v-dialog>
</template>

<style scoped>
.img-container {
  padding-top: 0%;
  display: flex;
  justify-content: center;
}
.textmini {
  padding: 0%;
  text-align: left;
  padding-left: 4%;
  font-size: 10px;
}
.textPromotionMini {
  padding: 0%;
  padding-right: 4%;
  text-align: right;
  font-size: 6px;
  padding-top: 1%;
}
.line {
  border-bottom: 2px solid black;
  margin: 20px 0;
}
</style>
