<script setup lang="ts">
import { usePurOrderStore } from '@/stores/stock/purOrder'
import type { PurOrderBill } from '@/types/stock/PurOrderBill'
import { nextTick, onMounted, ref } from 'vue'
import BillDialog from './BillDialog.vue'
import OrderView from './OrderView.vue'
import { useBillOrderStore } from '@/stores/stock/purOrderBill'
import type { PurOrder } from '@/types/stock/PurOrder'
import axios from 'axios'
import { useReportStore } from '@/stores/stock/report'

const purOrderStore = usePurOrderStore()
const billPurOrderStore = useBillOrderStore()
const dialogDelete = ref(false)
const dialog = ref(false)

const buttonColor = ref('green')
const used = ref()
const qty = ref()
const Qty = ref(0)
const total = ref(0)
const reportStore = useReportStore()

const headers = [
  {
    title: 'Id',
    key: 'id',
    value: 'id'
  },
  {
    title: 'Date',
    key: 'date',
    value: 'date'
  },

  {
    title: 'Total',
    key: 'total',
    value: 'total'
  },
  {
    title: 'Total Qty',
    key: 'quantity',
    value: 'quantity'
  },
  {
    title: 'Store',
    key: 'nameStore',
    value: 'nameStore'
  },

  { title: 'Bill', key: 'actions', sortable: false }
]

function closeDelete() {
  dialogDelete.value = false
  nextTick(() => {
    billPurOrderStore.clearForm()
  })
}

function closeDialog() {
  dialog.value = false
}

onMounted(async () => {
  await purOrderStore.getPurOrders()
})

async function deleteItemConfirm() {
  await purOrderStore.deletePurOrder()
  closeDelete()
}

async function deleteItem(item: PurOrder) {
  if (!item.id) return
  await purOrderStore.getPurOrder(item.id)

  dialogDelete.value = true
}

let orderAny = purOrderStore.editedPurOrder

function showOrderDetail(item: PurOrder) {
  orderAny = item
  purOrderStore.editedPurOrder = Object.assign({}, item)
  purOrderStore.detailDialog = true
}

function closeOrderDetail() {
  dialog.value = false
}

// async function des(item: PurOrderBill) {
//   console.log(item.purOrderDetails)
//   if (!item.id) return
//   await billPurOrderStore.showOrderDetial(item.id)
// }

function toggleReportStatus(item: PurOrder) {
  if (item.status === 'expanded') {
    item.status = 'hidden'
  } else {
    item.status = 'expanded'
  }
  // item.status = item.status === 'expanded' ? 'hidden' : 'expanded'
}

async function getReportTotalUsed(): Promise<any> {
  try {
    const res = await axios.get('http://localhost:3000/stock-report/reportTotalUsed')
    console.log(res)
    used.value = res.data.map((it: any) => {
      return it.used
    })
    for (let index = 0; index < used.value.length; index++) {
      total.value += used.value[index]
    }
    return total
  } catch (error) {
    console.error(error)
    return []
  }
}

async function getReportTotalQty(): Promise<any> {
  try {
    const res = await axios.get('http://localhost:3000/stock-report/reportTotalQty')
    console.log(res)
    qty.value = res.data.map((it: any) => {
      return it.quantity
    })
    for (let index = 0; index < qty.value.length; index++) {
      Qty.value += qty.value[index]
    }
    console.log('11111111111111', Qty)

    console.log(qty)

    return Qty
  } catch (error) {
    console.error(error)
    return []
  }
}

onMounted(async () => {
  await getReportTotalUsed()
  await getReportTotalQty()
})
</script>
<template>
  <v-container fluid style="background-color: #c6ac8f">
    <v-row><br /></v-row>
    <v-row>
      <v-col cols="2" class="d-flex align-end flex-column">
        <v-btn
          width="100%"
          color="#0277BD"
          variant="flat"
          @click="billPurOrderStore.showImport()"
          height="60"
          style="font-size: 12px"
          ><h3>Import Material</h3>
        </v-btn>
      </v-col>
      <v-col cols="3"></v-col>
      <v-col cols="3"></v-col>
      <v-col cols="4"></v-col>
    </v-row>
    <v-row><br /></v-row>

    <!-- <v-row>
      <v-col cols="6"> </v-col>

      <v-col cols="6" class="d-flex align-end flex-column">
        <v-btn color="#5e503f" variant="flat" @click="billPurOrderStore.showImport()">
          Import Material
        </v-btn>
      </v-col>
    </v-row> -->

    <v-row>
      <v-card style="width: 100%">
        <v-data-table
          :headers="headers"
          :items="purOrderStore.filteredPurOrder"
          style="background-color: #eae0d5"
          :search="purOrderStore.searchQuery"
          item-key="date"
        >
          <template v-slot:top>
            <v-toolbar flat style="background-color: #5e503f; color: white; border: 1%">
              <v-toolbar-title>
                <v-row><br /></v-row>
                <v-row>
                  <v-col cols="8"> <div style="margin-top: 8px">Purchase Order</div></v-col>
                  <v-spacer></v-spacer>
                  <v-col cols="4">
                    <div style="padding-bottom: 30px">
                      <v-text-field
                        v-model="purOrderStore.searchQuery"
                        density="compact"
                        label="Search"
                        prepend-inner-icon="mdi-magnify"
                        color="#5e503f"
                        style="
                          width: 560px;
                          color: black;
                          background-color: #eae0d5;
                          border-radius: 5%;
                        "
                        variant="outlined"
                        hide-details
                        single-line
                      ></v-text-field>
                    </div>
                  </v-col> </v-row
              ></v-toolbar-title>
              <v-divider class="mx-4" inset vertical></v-divider>

              <!-- Delete Dialog-->
              <v-dialog v-model="dialogDelete" max-width="500px">
                <v-card style="background-color: rgb(255, 245, 236)">
                  <v-card-title class="text-h5"
                    >Are you sure you want to delete this item?</v-card-title
                  >
                  <v-card-actions>
                    <v-spacer></v-spacer>

                    <v-btn color="rgb(255, 81, 81)" variant="flat" @click="closeDelete"
                      >Cancel</v-btn
                    >
                    <v-btn color="green-darken-1" variant="flat" @click="deleteItemConfirm"
                      >OK</v-btn
                    >
                    <v-spacer></v-spacer>
                  </v-card-actions>
                </v-card>
              </v-dialog>
            </v-toolbar>
          </template>

          <!-- <template v-slot:[`item.del`]="{ item }">
            <v-icon size="x-large" color="red-accent-4" @click="deleteItem(item)">
              mdi-delete-circle
            </v-icon>
          </template> -->

          <template v-slot:[`item.status`]="{ item }">
            <v-btn @click="toggleReportStatus(item)" color="#3E2723" variant="outlined">
              {{ item.status === 'expanded' ? 'Success' : 'Wait' }}
            </v-btn>
          </template>

          <template v-slot:[`item.actions`]="{ item }">
            <v-icon size="large" color="#3E2723" @click="showOrderDetail(item)">
              mdi-newspaper-variant
            </v-icon>
          </template>

          <template v-slot:no-data>
            <v-btn color="#5e503f" @click="purOrderStore.getPurOrders"> Reset </v-btn>
          </template>
        </v-data-table>
      </v-card>
    </v-row>
  </v-container>
  <OrderView></OrderView>

  <v-dialog v-model="purOrderStore.detailDialog" persistent>
    <v-container>
      <BillDialog :purOrder="orderAny"></BillDialog>
    </v-container>
  </v-dialog>
</template>
