<script setup lang="ts">
import { usePurOrderStore } from '@/stores/stock/purOrder'
import { useBillOrderStore } from '@/stores/stock/purOrderBill'

const billPurOrderStore = useBillOrderStore()
</script>

<template>
  <v-container>
    <v-row no-gutters class="textSize">
      <!-- <v-col style="text-align: right" cols="3">Bath</v-col> <v-col cols="6">Discount</v-col>
     <v-col style="text-align: center" cols="3">{{}} </v-col> -->
      <!-- <v-col style="text-align: left" cols="3">Bath</v-col>  -->
      <v-col cols="4">Total</v-col
      ><v-col style="text-align: left" cols="4">{{ billPurOrderStore.billPurOrder.total }} </v-col
      ><v-col style="text-align: left" cols="4">Baht</v-col>
    </v-row>
  </v-container>
</template>

<style scoped>
.textSize {
  font-size: 13px;
}
</style>
