<script setup lang="ts">
import { useReceiptStore } from '@/stores/receipt'
import { usePurOrderStore } from '@/stores/stock/purOrder'
import { useBillOrderStore } from '@/stores/stock/purOrderBill'
const billPurOrderStore = useBillOrderStore()
</script>

<template>
  <v-table class="rounded-table">
    <thead style="background-color: #5e503f; color: white">
      <tr>
        <th>No.</th>
        <th>Name</th>
        <th>Price</th>
        <th>Unit</th>
        <th>Total</th>
        <th></th>
      </tr>
    </thead>
    <tbody style="overflow-x: hidden; background-color: #eae0d5">
      <tr
        v-for="(item, index) of billPurOrderStore.billItems"
        :key="item.material.id"
        style="margin-bottom: 5px"
      >
        <td>{{ index + 1 }}</td>
        <td>{{ item.material.name }}</td>
        <td>{{ item.material.price }}</td>
        <td class="d-flex align-center">
          <v-btn
            icon="mdi-minus"
            density="compact"
            size="small"
            style="margin-right: 20%"
            @click="billPurOrderStore.decrease(item)"
          ></v-btn>
          {{ item.quantity }}
          <v-btn
            icon="mdi-plus"
            density="compact"
            size="small"
            style="margin-left: 20%"
            @click="billPurOrderStore.increase(item)"
          ></v-btn>
        </td>
        <td>{{ item.material.price * item.quantity }}</td>
        <td>
          <v-btn
            icon="mdi-delete"
            density="compact"
            size="small"
            @click="billPurOrderStore.removeBillItem(item)"
          ></v-btn>
        </td>
      </tr>
    </tbody>
  </v-table>
</template>

<style scoped>
th {
  font-weight: 200;
  font-size: 20px;
  font-size: 0.85vw;
}

td {
  font-size: 12px;
  font-size: 0.85vw;
}

.rounded-table {
  border-radius: 7px;
}
.select-container {
  /* Ensure the parent container has enough height */
  height: 100%; /* You can adjust the height as needed */
  display: flex;
  font-size: 12px;
  align-items: center; /* Center the v-select vertically */
  border-width: 0;
}
.no-border .v-field--variant-underlined .v-field__outline::before {
}
</style>
