<script setup lang="ts">
import axios from 'axios'
import { onMounted, reactive, ref } from 'vue'
import { Bar } from 'vue-chartjs'
import {
  Chart as ChartJS,
  Title,
  Tooltip,
  Legend,
  BarElement,
  CategoryScale,
  LinearScale
} from 'chart.js'

onMounted(async () => {
  await getReportUsed()
})
async function getReportUsed() {
  const res = await axios.get('http://localhost:3000/stock-report/reportUsed')
  console.log(res)
  const labels = res.data.map((it: any) => {
    return it.name
  })
  const data = res.data.map((it: any) => {
    return it.used * -1
  })
  console.log(labels, data)
  chartData.value = {
    labels: labels,
    datasets: [
      {
        label: 'Stock Used',
        backgroundColor: '#D3802C',
        data: data
      }
    ]
  }
}

ChartJS.register(Title, Tooltip, Legend, BarElement, CategoryScale, LinearScale)

const chartData = ref({
  labels: [],
  datasets: [
    {
      label: 'Stock Used',
      backgroundColor: '#D3802C',
      data: []
    }
  ]
})
const chartOptions = ref({
  responsive: true
})
</script>

<template>
  <Bar id="my-chart-id" :options="chartOptions" :data="chartData" />
</template>
