<script setup lang="ts">
import { ref } from 'vue'
import ReportStockUsed from './ReportStockUsed.vue'
import { useReportStore } from '@/stores/stock/report'
import ReportUsedYear from './ReportUsedYear.vue'
import ReportUsedMonth from './ReportUsedMonth.vue'

const reportStore = useReportStore()
const dialog = ref(false)
const month = [
  'January',
  'February',
  'March',
  'April',
  'May',
  'June',
  'July',
  'August',
  'September',
  'October',
  'November',
  'December'
]

function submit() {
  if (reportStore.year1 === '') {
    dialog.value = true
  } else {
    console.log(reportStore.year1)
    reportStore.getReportUsedYear(reportStore.year1)
  }
}

function submitMonthly() {
  if (reportStore.year1 === '' || reportStore.month1 === '') {
    dialog.value = true
  } else {
    reportStore.getMonth(reportStore.month1)
    console.log(reportStore.month1)

    reportStore.getReportUsedMonth(reportStore.year1, reportStore.month1)
  }
}

const tab = ref(0)
</script>
<template>
  <v-dialog v-model="reportStore.dialogGraph" persistent width="60%" height="90%">
    <v-card>
      <v-card-title style="text-align: center; background-color: #c6ac8f" class="text-h5">
        <v-row
          ><v-col cols="7" style="text-align: right">Report Stock Used</v-col>
          <v-col cols="5" style="text-align: right">
            <v-icon size="small" color="#5e503f" @click="reportStore.closeGraph()">
              mdi-close-box
            </v-icon></v-col
          ></v-row
        >
      </v-card-title>
      <v-container>
        <v-col cols="12"
          ><v-row>
            <v-tabs
              v-model="tab"
              style="background-color: rgb(111, 52, 0); width: 100%"
              align-tabs="center"
            >
              <v-tab value="yearly" color="#FEE19F" style="font-weight: bold">Yearly</v-tab>
              <v-tab value="monthly" color="#FEE19F" style="font-weight: bold">Monthly</v-tab>
            </v-tabs> </v-row
          ><v-row>
            <v-card-text>
              <v-window v-model="tab">
                <!--รายปี-->
                <v-window-item value="yearly">
                  <!--เลือกปี-->
                  <v-container>
                    <v-row>
                      <v-col cols="10">
                        <v-autocomplete
                          label="Year"
                          :items="['2024', '2023']"
                          item-text="year1"
                          return-object
                          v-model="reportStore.year1"
                        >
                        </v-autocomplete>
                      </v-col>
                      <v-col cols="2">
                        <v-btn color="primary" @click="submit" style="width: 100%; height: 55px"
                          >View</v-btn
                        >
                      </v-col>
                    </v-row>
                  </v-container>

                  <ReportUsedYear></ReportUsedYear>
                </v-window-item>

                <!--Dialog-->
                <v-dialog v-model="dialog" max-width="900px">
                  <template v-slot:default="{ isActive }">
                    <v-card
                      class="mx-auto"
                      prepend-icon="mdi-alert-circle"
                      width="400"
                      style="background-color: #fbe9e7"
                    >
                      <template v-slot:title> Select not found. </template>

                      <v-card-text> Please select year or month </v-card-text>

                      <template v-slot:actions>
                        <v-col cols="9"></v-col>
                        <v-col cols="3">
                          <v-btn
                            width="50px"
                            color="rgb(255, 81, 81)"
                            variant="flat"
                            @click="isActive.value = false"
                          >
                            Close
                          </v-btn>
                        </v-col>

                        <!-- <v-btn class="ml-auto" text="Close" @click="isActive.value = false"></v-btn> -->
                      </template>
                    </v-card>
                  </template>
                </v-dialog>

                <!--รายเดือน-->
                <v-window-item value="monthly">
                  <v-container>
                    <v-row>
                      <v-col cols="5">
                        <v-autocomplete
                          label="Year"
                          :items="['2024', '2023']"
                          item-text="year1"
                          return-object
                          v-model="reportStore.year1"
                        >
                        </v-autocomplete>
                      </v-col>
                      <v-col cols="5">
                        <v-autocomplete
                          label="Month"
                          :items="month"
                          item-text="month"
                          return-object
                          v-model="reportStore.month1"
                        >
                        </v-autocomplete>
                      </v-col>
                      <v-col cols="2">
                        <v-btn
                          color="primary"
                          @click="submitMonthly"
                          style="width: 100%; height: 55px"
                          >View</v-btn
                        >
                      </v-col>
                    </v-row>
                  </v-container>
                  <ReportUsedMonth></ReportUsedMonth>
                </v-window-item>
              </v-window>
            </v-card-text> </v-row
        ></v-col>
      </v-container> </v-card
  ></v-dialog>
</template>
