<script setup lang="ts">
import { ref, nextTick, onMounted } from 'vue'

import { useReceiptStore } from '@/stores/receipt'
import { type Product } from '@/types/Product'
import ProductList from '@/components/ProductList.vue'
import ReceiptDetailTable from './ReceiptDetailTable.vue'
import ReceiptCard from './ReceiptCard.vue'
import MemberCard from './MemberCard.vue'
import ReceiptDialog from './ReceiptBill.vue'
import ReceiptPayment from './ReceiptPayment.vue'
import PromotionList from './PromotionList.vue'
import type { Promotion } from '@/types/Promotion'
import { usePromotionStore } from '@/stores/promotion'
import { useReceiptPromotion } from '@/stores/receiptPromotion'
import { useProductStore } from '@/stores/product'
import { usePosStore } from '@/stores/pos'
import { useLoadingStore } from '@/stores/loading'

const posStore = usePosStore()
const promotionStore = usePromotionStore()
const receiptStore = useReceiptStore()
const productStore = useProductStore()
const LoadingStore = useLoadingStore()
const receiptPromotionStore = useReceiptPromotion()
const tab = ref(0)
const divReceiptItems = ref<HTMLElement | null>(null)

const selected = (product: Product) => {
  receiptStore.addReceiptItem(product)

  nextTick(() => {
    if (divReceiptItems.value) divReceiptItems.value.scrollTo(0, divReceiptItems.value.scrollHeight)
  })
  console.log(receiptStore.receiptItems)
}

//////// Promotion //////////
const selectedPm = (promotion: Promotion) => {
  receiptPromotionStore.addPromotionItem(promotion)
  nextTick(() => {
    if (divReceiptItems.value) divReceiptItems.value.scrollTo(0, divReceiptItems.value.scrollHeight)
  })
}

onMounted(async () => {
  LoadingStore.doLoading()
  await productStore.getType()
  await posStore.getProducts()
  await promotionStore.getPromotions()
  LoadingStore.finish()
})
</script>

<template>
  <v-container fluid style="background-color: #c6ac8f; max-height: 100%">
    <v-row>
      <v-col cols="12" md="7">
        <v-sheet
          min-width="0%"
          max-width="100%"
          max-height="750px"
          elevation="6"
          class="rounded-table"
        >
          <v-tabs
            v-model="tab"
            color="white"
            align-tabs="center"
            class="rounded-table"
            style="background-color: #5e503f; color: #c6ac8f"
          >
            <v-tab
              v-for="(item, index) in productStore.type"
              :key="item.id"
              :value="index"
              style="font-size: 16px"
            >
              {{ item.name }}
            </v-tab>
          </v-tabs>
          <v-window v-model="tab">
            <v-window-item v-for="item in posStore.arrayOfProductTypes">
              <ProductList :products="item" @selectedProduct="selected"></ProductList>
            </v-window-item>
          </v-window>
        </v-sheet>
      </v-col>
      <v-col cols="12" md="5">
        <v-container class="pa-0">
          <v-row>
            <v-col cols="12">
              <div ref="divReceiptItems" style="height: 300; overflow: auto" class="rounded-table">
                <v-sheet min-width="200" max-width="100%" height="300" elevation="6">
                  <ReceiptDetailTable></ReceiptDetailTable>
                </v-sheet>
              </div>
            </v-col>
            <v-col cols="12" class="pt-1">
              <v-sheet
                min-width="150"
                max-width="100%"
                height="78"
                elevation="6"
                class="rounded-table"
              >
                <MemberCard></MemberCard>
              </v-sheet>
            </v-col>
            <v-col cols="12" class="pt-1">
              <v-sheet
                max-width="100%"
                min-height="150"
                max-height="100"
                elevation="6"
                class="rounded-table"
              >
                <PromotionList></PromotionList>
              </v-sheet>
            </v-col>
            <v-col cols="12" class="pt-1">
              <v-sheet
                min-width="50"
                max-width="100%"
                height="80"
                elevation="6"
                class="rounded-table"
              >
                <ReceiptCard></ReceiptCard>
              </v-sheet>
            </v-col>
            <v-col cols="12" class="pt-1">
              <v-sheet
                min-width="150"
                max-width="100%"
                max-height="60"
                elevation="6"
                class="rounded-table"
              >
                <v-container>
                  <v-row>
                    <v-col class="pt-2">
                      <v-btn
                        block
                        rounded="xl"
                        size="default"
                        style="background-color: #bc4749; color: white"
                        @click="receiptStore.clear"
                        >Clear</v-btn
                      >
                    </v-col>
                    <v-col class="pt-2">
                      <v-btn
                        block
                        rounded="xl"
                        size="default"
                        style="background-color: #4bab57; color: white"
                        @click="receiptStore.showReceiptPayment()"
                        >Purchase</v-btn
                      >
                    </v-col>
                  </v-row>
                </v-container>
              </v-sheet>
            </v-col>
          </v-row>
        </v-container>
      </v-col>
    </v-row>
  </v-container>
  <ReceiptPayment></ReceiptPayment>
  <ReceiptDialog></ReceiptDialog>
</template>

<style scoped>
.rounded-table {
  border-radius: 10px;
}
</style>
./PromotionList.vue @/stores/productTable
