<script setup lang="ts">
import { useReceiptStore } from '@/stores/receipt'
const receiptStore = useReceiptStore()
</script>

<template>
  <v-container>
    <v-row no-gutters class="textSize">
      <!-- Before discount -->
      <v-col cols="6">Before Discount</v-col
      ><v-col style="text-align: center" cols="3"
        >{{ receiptStore.receipt.total + receiptStore.receipt.discount }} </v-col
      ><v-col style="text-align: right" cols="3">Baht</v-col> <v-col cols="6">Discount</v-col>
      <!-- Member discount --><v-col style="text-align: center" cols="3"
        >{{ receiptStore.receipt.discount }} </v-col
      ><v-col style="text-align: right" cols="3">Baht</v-col> <v-col cols="6">Total</v-col
      ><v-col style="text-align: center" cols="3">{{ receiptStore.receipt?.total }} </v-col
      ><v-col style="text-align: right" cols="3">Baht</v-col>
    </v-row>
  </v-container>
</template>

<style scoped>
.textSize {
  font-size: 13px;
}
</style>
