<script setup lang="ts">
import { useReceiptStore } from '@/stores/receipt'
const receiptStore = useReceiptStore()
function updateSweetness(item: any) {
  receiptStore.updateSweetness(item, item.sweet)
}
</script>

<template>
  <v-table class="rounded-table">
    <thead style="background-color: #5e503f; color: white">
      <tr>
        <th>No.</th>
        <th>Name</th>
        <th>Price</th>
        <th>Sweet</th>
        <th>Unit</th>
        <th>Total</th>
        <th></th>
      </tr>
    </thead>
    <tbody style="overflow-x: hidden; background-color: #eae0d5">
      <tr v-for="(item, index) of receiptStore.receiptItems" style="padding: 0">
        <td>{{ index + 1 }}</td>
        <td>{{ item.product.name }}</td>
        <td>{{ item.product.price }}</td>
        <td>
          <!-- <v-select
            style="width: 100%"
            v-if="item.sweet !== 'N/A'"
            class="select-container"
            :items="['100%', '0%', '50%', '150%', '200%']"
            v-model="item.sweet"
            @change="updateSweetness(item)"
          ></v-select> -->
          {{ receiptStore.receiptItems[index].sweet }}
        </td>

        <td class="d-flex align-center" style="margin-top: 5%">
          <v-btn
            icon="mdi-minus"
            density="compact"
            size="small"
            style="margin-right: 20%"
            @click="receiptStore.decrease(item)"
          ></v-btn>
          {{ item.qty }}
          <v-btn
            icon="mdi-plus"
            density="compact"
            size="small"
            style="margin-left: 20%"
            @click="receiptStore.increase(item)"
          ></v-btn>
        </td>
        <td>{{ item.product.price * item.qty }}</td>
        <td>
          <v-btn
            icon="mdi-delete"
            density="compact"
            size="small"
            @click="receiptStore.removeReceioptItem(item)"
          ></v-btn>
        </td>
      </tr>
    </tbody>
  </v-table>
</template>

<style scoped>
th {
  font-weight: 200;
  font-size: 20px;
  font-size: 0.85vw;
}

td {
  font-size: 12px;
  font-size: 0.85vw;
}

.rounded-table {
  border-radius: 7px;
}
.select-container {
  /* Ensure the parent container has enough height */
  height: 100%; /* You can adjust the height as needed */
  display: flex;
  font-size: 12px;
  align-items: center; /* Center the v-select vertically */
  border-width: 0;
}
.no-border .v-field--variant-underlined .v-field__outline::before {
}
</style>
