<script setup lang="ts">
import type { Branch } from '@/types/Branch'
import { nextTick, ref, onMounted } from 'vue'
import type { VForm } from 'vuetify/components'
import { useBranchStore } from '@/stores/branch'
import userService from '@/services/user'
import branch from '@/services/branch'
import branchService from '@/services/branch'

const branchStore = useBranchStore()
const headers = [
  {
    title: 'Id',
    key: 'id', // key reference to database column
    value: 'id'
  },
  {
    title: 'Name',
    key: 'name', // key reference to database column
    value: 'name'
  },
  {
    title: 'Address',
    key: 'address', // key reference to database column
    value: 'address'
  },
  { title: 'Actions', key: 'actions', sortable: false }
]

const form = ref(false)
const refForm = ref<VForm | null>(null)
const dialog = ref(false)
const dialogDelete = ref(false)
const loading = ref(false)

function onSubmit() {}
function closeDelete() {
  dialogDelete.value = false
  nextTick(() => {
    branchStore.clearForm()
  })
}
async function deleteItemConfirm() {
  await branchStore.deleteBranch()
  closeDelete()
}
async function editItem(item: Branch) {
  if (!item.id) return
  await branchStore.getBranch(item.id)
  dialog.value = true
}
async function deleteItem(item: Branch) {
  if (!item.id) return
  await branchStore.getBranch(item.id)
  dialogDelete.value = true
}
function closeDialog() {
  dialog.value = false
  nextTick(() => {
    branchStore.clearForm()
  })
}
async function save() {
  const { valid } = await refForm.value!.validate()
  if (!valid) return
  await branchStore.saveBranch()
  closeDialog()
}

onMounted(async () => {
  branchStore.getBranchs()
})
</script>

<template>
  <div>
    <v-data-table :headers="headers" :items="branchStore.branchs" style="background-color: #eae0d5">
      <template v-slot:top>
        <v-toolbar color="#5e503f" flat>
          <v-toolbar-title>Branchs</v-toolbar-title>
          <v-divider class="mx-4" inset vertical></v-divider>
          <v-spacer></v-spacer>
          <!-- Put Edited Dialog -->

          <v-dialog v-model="dialog" persistent width="1024">
            <template v-slot:activator="{ props }">
              <v-btn color="white" v-bind="props"> New Branch </v-btn>
            </template>
            <v-card>
              <v-card-title>
                <span class="text-h5">Branch Profile</span>
              </v-card-title>
              <v-card-text>
                <v-form ref="refForm" v-model="form" @submit.prevent="onSubmit">
                  <v-container>
                    <v-row>
                      <v-col cols="12" sm="12" md="4">
                        <v-text-field
                          v-model="branchStore.editedBranch.name"
                          :readonly="loading"
                          :rules="[(v) => !!v || 'Field is required']"
                          class="mb-2"
                          clearable
                          label="Name"
                        ></v-text-field>
                      </v-col>
                      <v-col cols="12" sm="12" md="4">
                        <!-- v-model.number to define the number value -->
                        <v-text-field
                          v-model.number="branchStore.editedBranch.address"
                          :readonly="loading"
                          :rules="[(v) => !!v || 'Field is required']"
                          class="mb-2"
                          clearable
                          label="Address"
                        ></v-text-field>
                      </v-col>
                    </v-row>
                  </v-container>
                </v-form>
                <small>*indicates required field</small>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue-darken-1" variant="text" @click="closeDialog()"> Close </v-btn>
                <v-btn color="blue-darken-1" variant="text" @click="save()"> Save </v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>

          <!-- Delete Dialog-->
          <v-dialog v-model="dialogDelete" max-width="500px">
            <v-card>
              <v-card-title class="text-h5"
                >Are you sure you want to delete this item?</v-card-title
              >
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue-darken-1" variant="text" @click="closeDelete">Cancel</v-btn>
                <v-btn color="blue-darken-1" variant="text" @click="deleteItemConfirm">OK</v-btn>
                <v-spacer></v-spacer>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-toolbar>
      </template>
      <template v-slot:[`item.actions`]="{ item }">
        <v-icon size="small" class="me-2" @click="editItem(item)"> mdi-pencil </v-icon>
        <v-icon size="small" @click="deleteItem(item)"> mdi-delete </v-icon>
      </template>

      <template v-slot:no-data>
        <v-btn color="#5e503f" @click="branchStore.getBranchs"> Reset </v-btn>
      </template>
    </v-data-table>
  </div>
</template>
