<template>
  <v-table>
    <div class="container">
      <v-card width="95%" elevation="6">
        <v-container style="background-color: #5e503f">
          <v-row>
            <v-col>
              <v-btn
                style="height: 75px"
                :color="buttonColor"
                @click="toggleCheckInOut"
                :disabled="isCheckedOut"
              >
                {{ buttonText }}
              </v-btn>
            </v-col>

            <v-col>
              <div style="color: white; font-size: 20px; text-align: center">Date</div>
              <div style="color: white; font-size: 20px; text-align: center">
                {{ formattedDate }}
              </div>
            </v-col>

            <v-col>
              <div style="color: white; font-size: 20px; text-align: center">Check In</div>
              <div v-if="isCheckedIn" style="color: white; font-size: 20px; text-align: center">
                {{ formatTime(selectedTimeIn) }}
              </div>
            </v-col>

            <v-col>
              <div style="color: white; font-size: 20px; text-align: center">Check Out</div>
              <div v-if="isCheckedOut" style="color: white; font-size: 20px; text-align: center">
                {{ formatTime(selectedTimeOut) }}
              </div>
            </v-col>

            <v-col>
              <div style="color: white; font-size: 20px; text-align: center">Working Time</div>
              <div style="color: white; font-size: 20px; text-align: center">{{ workingTime }}</div>
            </v-col>
          </v-row>
        </v-container>
      </v-card>
      <br />
      <v-card id="map" width="95%" height="350px" elevation="6">
        <longdo-map @ready="onMapReady" style="width: 100%; height: 100%" :draggable="false">
          <template #default="{ map }">
            <longdo-map-circle
              :location="centerLocation"
              :radius="radius"
              :lineColor="'rgba(0, 0, 0, 1)'"
              :fillColor="'rgba(255, 0, 0, 0.4)'"
            />
          </template>
        </longdo-map>
      </v-card>

      <br />
      <v-card width="95%" elevation="6">
        <v-data-table
          :headers="headers"
          :items="employees"
          item-key="id"
          style="background-color: #eae0d5"
        ></v-data-table>
      </v-card>
    </div>
  </v-table>
</template>

<script setup lang="ts">
import { ref, onMounted } from 'vue'
import { defineComponent } from 'vue'
import longdo from 'longdo-map-vue'

// const showUserLocation = () => {
//   if (navigator.geolocation) {
//     navigator.geolocation.getCurrentPosition((position) => {
//       const { latitude, longitude } = position.coords
//       longdo.map.location({ lon: longitude, lat: latitude }).view()
//     })
//   } else {
//     alert('Geolocation is not supported by this browser.')
//   }
// }
const onMapReady = (map: any) => {
  // ปิดการแสดงตัวชี้กากบนแผนที่
  map.Ui.Crosshair.visible(false)
  map.Ui.DPad.visible(false)
  map.Ui.Zoombar.visible(false)
  map.Ui.Geolocation.visible(false)
  map.Ui.Toolbar.visible(false)
  map.Ui.LayerSelector.visible(false)
  map.Ui.Fullscreen.visible(false)
}

const centerLocation = ref({ lon: 100.923962, lat: 13.281183 }) // กำหนดพิกัดของจุดศูนย์กลาง13.281183, 100.923962
const radius = ref(0.0002) // กำหนดรัศมีของวงกลม (เป็นเมตร)

const buttonColor = ref('green')
const buttonText = ref('CHECK IN')

const isCheckedIn = ref(false)
const isCheckedOut = ref(false)

const selectedTimeIn = ref<Date | null>(null)
const selectedTimeOut = ref<Date | null>(null)
const formattedDate = ref('')
const workingTime = ref('00:00:00')
let intervalId: NodeJS.Timeout | null = null // เพิ่มตัวแปรเพื่อเก็บ ID ของ interval

function formatTime(date: Date | null): string {
  return date ? date.toLocaleTimeString() : ''
}

const currentDateObj = new Date()
const year = currentDateObj.getFullYear()
const month = (currentDateObj.getMonth() + 1).toString().padStart(2, '0')
const day = currentDateObj.getDate().toString().padStart(2, '0')
formattedDate.value = `${year}-${month}-${day}`

const startTimer = () => {
  let seconds = 0
  intervalId = setInterval(() => {
    // ให้ intervalId เก็บค่าของ setInterval
    const hours = Math.floor(seconds / 3600)
    const minutes = Math.floor((seconds % 3600) / 60)
    const secs = seconds % 60
    workingTime.value = `${hours.toString().padStart(2, '0')}:${minutes
      .toString()
      .padStart(2, '0')}:${secs.toString().padStart(2, '0')}`
    seconds++
  }, 1000)
}

const stopTimer = () => {
  if (intervalId) clearInterval(intervalId) // เมื่อเรียก stopTimer ให้ตรวจสอบว่า intervalId ไม่เป็น null ก่อนจะ clearInterval
}

const toggleCheckInOut = () => {
  if (!isCheckedIn.value) {
    isCheckedIn.value = true
    selectedTimeIn.value = new Date() // Set current time when checking in
    buttonColor.value = 'red'
    buttonText.value = 'CHECK OUT'
    startTimer() // เริ่มนับเวลาเมื่อกด Check In
  } else {
    isCheckedOut.value = true
    selectedTimeOut.value = new Date() // Set current time when checking out
    buttonColor.value = 'gray'
    stopTimer() // หยุดการนับเวลาเมื่อกด Check Out
  }
}

const headers = [
  { title: 'ID', text: 'ID', value: 'id' },
  { title: 'Name', text: 'Name', value: 'name' },
  { title: 'Roles', text: 'Roles', value: 'roles' },
  { title: 'Date', text: 'Date', value: 'date' },
  { title: 'Check In', text: 'Check In', value: 'checkIn' },
  { title: 'Check Out', text: 'Check Out', value: 'checkOut' },
  { title: 'Working time', text: 'Working time', value: 'workingTime' }
]

const employees = [
  {
    id: 1,
    name: 'John Doe',
    roles: 'User',
    date: '2024-04-01',
    checkIn: '08:00 AM',
    checkOut: '05:00 PM',
    workingTime: '9 hours'
  },
  {
    id: 2,
    name: 'John Doe',
    roles: 'User',
    date: '2024-04-02',
    checkIn: '09:00 AM',
    checkOut: '06:00 PM',
    workingTime: '8 hours'
  },
  {
    id: 3,
    name: 'John Doe',
    roles: 'User',
    date: '2024-04-03',
    checkIn: '08:30 AM',
    checkOut: '05:30 PM',
    workingTime: '9 hours'
  },
  {
    id: 4,
    name: 'John Doe',
    roles: 'User',
    date: '2024-04-04',
    checkIn: '09:15 AM',
    checkOut: '06:15 PM',
    workingTime: '8 hours'
  },
  {
    id: 5,
    name: 'John Doe',
    roles: 'User',
    date: '2024-04-05',
    checkIn: '09:30 AM',
    checkOut: '06:30 PM',
    workingTime: '8 hours'
  },
  {
    id: 6,
    name: 'John Doe',
    roles: 'User',
    date: '2024-04-06',
    checkIn: '09:45 AM',
    checkOut: '06:45 PM',
    workingTime: '8 hours'
  },
  {
    id: 7,
    name: 'John Doe',
    roles: 'User',
    date: '2024-04-07',
    checkIn: '08:45 AM',
    checkOut: '05:45 PM',
    workingTime: '9 hours'
  },
  {
    id: 8,
    name: 'John Doe',
    roles: 'User',
    date: '2024-04-08',
    checkIn: '08:15 AM',
    checkOut: '05:15 PM',
    workingTime: '9 hours'
  },
  {
    id: 9,
    name: 'John Doe',
    roles: 'User',
    date: '2024-04-09',
    checkIn: '08:20 AM',
    checkOut: '05:20 PM',
    workingTime: '9 hours'
  },
  {
    id: 10,
    name: 'John Doe',
    roles: 'User',
    date: '2024-04-10',
    checkIn: '09:10 AM',
    checkOut: '06:10 PM',
    workingTime: '8 hours'
  }
]
</script>

<style scoped>
.container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */
}
</style>
