<template>
  <v-table height="850px">
    <div class="container">
      <v-card width="95%" elevation="6">
        <v-row>
          <v-col>
            <v-data-table
              :headers="headers"
              :items="employees"
              item-key="id"
              style="background-color: #eae0d5"
            >
              <template v-slot:top
                ><v-toolbar color="#5e503f" flat
                  ><v-toolbar-title>Check in detail</v-toolbar-title></v-toolbar
                ></template
              ></v-data-table
            >
          </v-col>
        </v-row>
      </v-card>
    </div>
  </v-table>
</template>

<script setup lang="ts">
const headers = [
  { title: 'ID', text: 'ID', value: 'id' },
  { title: 'Name', text: 'Name', value: 'name' },
  { title: 'Roles', text: 'Roles', value: 'roles' },
  { title: 'Date', text: 'Date', value: 'date' },
  { title: 'Check In', text: 'Check In', value: 'checkIn' },
  { title: 'Check Out', text: 'Check Out', value: 'checkOut' },
  { title: 'Working time', text: 'Working time', value: 'workingTime' }
]
const employees = [
  {
    id: 1,
    name: 'John Doe',
    roles: 'Manager',
    date: '2024-04-01',
    checkIn: '08:00 AM',
    checkOut: '05:00 PM',
    workingTime: '9 hours'
  },
  {
    id: 2,
    name: 'Jane Smith',
    roles: 'Developer',
    date: '2024-04-01',
    checkIn: '09:00 AM',
    checkOut: '06:00 PM',
    workingTime: '8 hours'
  },
  {
    id: 3,
    name: 'Michael Johnson',
    roles: 'Sales Representative',
    date: '2024-04-01',
    checkIn: '08:30 AM',
    checkOut: '05:30 PM',
    workingTime: '9 hours'
  },
  {
    id: 4,
    name: 'Emily Brown',
    roles: 'Accountant',
    date: '2024-04-01',
    checkIn: '09:15 AM',
    checkOut: '06:15 PM',
    workingTime: '8 hours'
  },
  {
    id: 5,
    name: 'Daniel Wilson',
    roles: 'Graphic Designer',
    date: '2024-04-01',
    checkIn: '09:30 AM',
    checkOut: '06:30 PM',
    workingTime: '8 hours'
  },
  {
    id: 6,
    name: 'Olivia Martinez',
    roles: 'HR Specialist',
    date: '2024-04-01',
    checkIn: '08:45 AM',
    checkOut: '05:45 PM',
    workingTime: '9 hours'
  },
  {
    id: 7,
    name: 'William Taylor',
    roles: 'Software Engineer',
    date: '2024-04-01',
    checkIn: '08:15 AM',
    checkOut: '05:15 PM',
    workingTime: '9 hours'
  },
  {
    id: 8,
    name: 'Sophia Anderson',
    roles: 'Marketing Coordinator',
    date: '2024-04-01',
    checkIn: '09:45 AM',
    checkOut: '06:45 PM',
    workingTime: '8 hours'
  },
  {
    id: 9,
    name: 'Alexander Thomas',
    roles: 'Customer Service Representative',
    date: '2024-04-01',
    checkIn: '08:20 AM',
    checkOut: '05:20 PM',
    workingTime: '9 hours'
  },
  {
    id: 10,
    name: 'Ava White',
    roles: 'Financial Analyst',
    date: '2024-04-01',
    checkIn: '09:10 AM',
    checkOut: '06:10 PM',
    workingTime: '8 hours'
  }
]
</script>

<style scoped>
.container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */
}
</style>
