<script setup lang="ts">
import { useAuthStore } from '@/stores/auth'
import { ref } from 'vue'
import router from '@/router' // import router to change the page

const authStore = useAuthStore()
const visible = ref(false)
const email = ref('owner1@mail.com')
const password = ref('Pass@1234')
const showPasswordWarning = ref(false)
const useRouter = router // declare variable of router

async function loginPass() {
  const login = await authStore.login(email.value, password.value)
}
</script>

<template>
  <div class="background-container">
    <v-container fluid fill-height>
      <v-img
        class="mx-auto my-6"
        max-width="228"
        style="border-radius: 50%"
        src="./img/starbug logo.jpg"
      ></v-img>

      <v-card
        style="background-color: #eae0d5"
        class="mx-auto pa-12 pb-8"
        elevation="8"
        width="500"
        max-width="100%"
        rounded="lg"
      >
        <div class="text-subtitle-1 text-medium-emphasis">Account</div>

        <v-text-field
          v-model="email"
          density="compact"
          placeholder="Email address"
          prepend-inner-icon="mdi-email-outline"
          variant="outlined"
        ></v-text-field>

        <div class="text-subtitle-1 text-medium-emphasis d-flex align-center justify-space-between">
          Password

          <!-- <a class="text-caption text-decoration-none text-blue" href="#" rel="noopener noreferrer" target="_blank">
                    Forgot login password?</a> -->
          <span v-if="showPasswordWarning" style="padding-top: 0%; color: red"
            >Invalid Email or Password</span
          >
        </div>

        <v-text-field
          id="password"
          v-model="password"
          :append-inner-icon="visible ? 'mdi-eye-off' : 'mdi-eye'"
          :type="visible ? 'text' : 'password'"
          density="compact"
          placeholder="Enter your password"
          prepend-inner-icon="mdi-lock-outline"
          variant="outlined"
          @click:append-inner="visible = !visible"
        ></v-text-field>

        <v-btn block class="custom-btn" size="large" @click="loginPass()"> Log In </v-btn>
      </v-card>
    </v-container>
  </div>
</template>

<style scoped>
.background-container {
  background-image: url('./img/coffeeBackground.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
}
.custom-btn {
  color: #eae0d5;
  background-color: #5e503f;
}
</style>
