<script setup lang="ts">
import type { Product } from '@/types/Product'
import { nextTick, ref, onMounted } from 'vue'
import type { VForm } from 'vuetify/components'
import { useOrderStore } from '@/stores/order'
import type { Order } from '@/types/Receipt/Order'
import type { User } from '@/types/User'
import order from '@/services/order'
import OrderDetail from '@/views/order/OrderDetail.vue'
import { useAuthStore } from '@/stores/auth'

const orderStore = useOrderStore()
const authStore = useAuthStore()

const headers = [
  {
    title: 'ID',
    key: 'id',
    value: 'id'
  },

  {
    title: 'Member',
    key: 'member',
    value: (item: any) => {
      return item.member?.name
    }
  },
  {
    title: 'DateTime',
    key: 'created',
    value: (item: any) => {
      // Assuming 'created' is a datetime property in the 'item' object
      const createdDate = new Date(item.created)
      return createdDate.toLocaleString() // Format datetime using toLocaleString()
    }
  },
  {
    title: 'Total',
    key: 'total',
    value: 'total'
  },
  {
    title: 'Quantity',
    key: 'qty',
    value: 'qty'
  },
  {
    title: 'Discount',
    key: 'discount',
    value: 'discount'
  },
  { title: 'Actions', key: 'actions', sortable: true }
]

const dialog = ref(false)

let orderAny = orderStore.editedOrder

const currentTime = (item: any) => {
  // Assuming 'created' is a datetime property in the 'item' object
  const createdDate = new Date(item.created)
  return createdDate.toLocaleString() // Format datetime using toLocaleString()
}
// const hours = ref<any>() // Get the current hour (0-23)
// const minutes = ref<any>() // Get the current minute (0-59)
// const seconds = ref<any>() // Get the current second (0-59)

function showOrderDetail(item: Order) {
  orderAny = item
  orderStore.editedOrder = Object.assign({}, item)
  orderStore.detailDialog = true
}

function closeOrderDetail() {
  dialog.value = false
}

onMounted(async () => {
  const member = await authStore.getCurrentMember()
  if (member) {
    console.log(authStore.getCurrentMember()?.id!)
    await orderStore.getMemberOrders(authStore.getCurrentMember()?.id!)
  } else if (authStore.getCurrentUser()) {
    orderStore.getOrders()
  }
})
</script>

<template>
  <v-card style="width: 100%">
    <v-data-table :headers="headers" :items="orderStore.orders" style="background-color: #eae0d5">
      <template v-slot:top>
        <v-toolbar flat color="#5e503f">
          <v-toolbar-title>Member Order</v-toolbar-title>
          <v-divider class="mx-4" inset vertical></v-divider>
        </v-toolbar>
      </template>
      <template v-slot:[`item.actions`]="{ item }">
        <v-icon size="small" class="me-2" @click="showOrderDetail(item)">
          mdi-list-box-outline
        </v-icon>
        <v-dialog v-model="orderStore.detailDialog" persistent>
          <v-container>
            <OrderDetail :order="item"></OrderDetail>
          </v-container>
        </v-dialog>
      </template>
    </v-data-table>
  </v-card>
</template>

<style>
.detailOutBackground_Color {
  background-color: rgba(212, 192, 161, 0.959);
}
.detailInBackground_Color {
  background-color: rgb(255, 238, 212);
}
.testColor {
  background-color: rgb(255, 176, 176);
}
</style>
