<script setup lang="ts">
import type { Product } from '@/types/Product'
import { nextTick, ref, onMounted } from 'vue'
import type { VForm } from 'vuetify/components'
import { useProductStore } from '@/stores/product'
import productService from '@/services/product'

const count = ref<Count[]>([])
type Count = {
  name: string
  price: string
  type: string
}
const searchDialog = ref(false)
const ID = ref('')
const ALP = ref('')

function openSearchDialog() {
  searchDialog.value = true
}

async function search() {
  count.value = (await productService.getProducteiei(Number(ID.value), String(ALP.value))).data
}

const count3 = ref<Count3[]>([])
type Count3 = {
  RowID: number
  NAME: string
  TYPE_ID: string
  ItemDetail: string
}
const searchDialog3 = ref(false)

function openSearchDialog3() {
  searchDialog3.value = true
}

async function search3() {
  count3.value = (await productService.getProduct4()).data
}
const productStore = useProductStore()
const headers = [
  {
    title: 'Id',
    key: 'id', // key reference to database column
    value: 'id'
  },
  {
    title: 'Photo',
    key: 'image' // key reference to database column
  },
  {
    title: 'Name',
    key: 'name', // key reference to database column
    value: 'name'
  },
  {
    title: 'Price',
    key: 'price', // key reference to database column
    value: 'price'
  },
  {
    title: 'Sweet',
    key: 'sweet'
  },
  {
    title: 'Type',
    key: 'type', // key reference to database column
    value: (item: any | Product) => item.type.name
  },
  { title: 'Actions', key: 'actions', sortable: false }
]

const headers2 = [
  {
    title: 'Name',
    key: 'name', // key reference to database column
    value: 'name'
  },
  {
    title: 'Price',
    key: 'image' // key reference to database column
  },
  {
    title: 'Type',
    key: 'type', // key reference to database column
    value: 'type'
  },
  { title: 'Actions', key: 'actions', sortable: false }
]

const headers3 = [
  {
    title: 'RowID',
    key: 'rowid', // key reference to database column
    value: 'rowid'
  },
  {
    title: 'Name',
    key: 'name' // key reference to database column
  },
  {
    title: 'TypeID',
    key: 'typeid', // key reference to database column
    value: 'typeid'
  },
  {
    title: 'ItemDetail',
    key: 'itemdetail', // key reference to database column
    value: 'itemdetail'
  },
  { title: 'Actions', key: 'actions', sortable: false }
]

const form = ref(false)
const refForm = ref<VForm | null>(null)
const dialog = ref(false)
const dialogDelete = ref(false)
const loading = ref(false)

function onSubmit() {}
function closeDelete() {
  dialogDelete.value = false
  nextTick(() => {
    productStore.clearForm()
  })
}
async function deleteItemConfirm() {
  await productStore.deleteProduct()
  closeDelete()
}
async function editItem(item: Product) {
  if (!item.id) return
  await productStore.getProduct(item.id)
  dialog.value = true
}
async function deleteItem(item: Product) {
  if (!item.id) return
  await productStore.getProduct(item.id)
  dialogDelete.value = true
}
function closeDialog() {
  dialog.value = false
  nextTick(() => {
    productStore.clearForm()
  })
}
async function save() {
  const { valid } = await refForm.value!.validate()
  if (!valid) return
  await productStore.saveProduct()
  closeDialog()
}

onMounted(() => {
  productStore.getProducts()
  productStore.getType()
  search3()
})
</script>

<template>
  <div>
    <v-data-table
      :headers="headers"
      :items="productStore.products"
      style="background-color: #eae0d5"
    >
      <template v-slot:top>
        <v-toolbar color="#5e503f" flat>
          <v-toolbar-title>Products</v-toolbar-title>
          <v-divider class="mx-4" inset vertical></v-divider>
          <v-spacer></v-spacer>
          <!-- Put Edited Dialog -->

          <v-dialog v-model="dialog" persistent width="1024">
            <template v-slot:activator="{ props }">
              <v-btn color="white" style="background-color: #d2691e" v-bind="props">
                New Product
                <!-- </v-btn> -->
                <!-- <v-btn color="white" style="background-color: #5e503f" @click="openSearchDialog">
                Search
              </v-btn>
              <v-btn color="white" style="background-color: #5e503f" @click="openSearchDialog3">
                Product All -->
              </v-btn>
            </template>
            <v-card>
              <v-card-title>
                <span class="text-h5">Product Profile</span>
              </v-card-title>
              <v-card-text>
                <v-form ref="refForm" v-model="form" @submit.prevent="onSubmit">
                  <v-container>
                    <v-row>
                      <v-col cols="12" sm="12" md="4">
                        <v-text-field
                          v-model="productStore.editedProduct.name"
                          :readonly="loading"
                          :rules="[(v) => !!v || 'Field is required']"
                          class="mb-2"
                          clearable
                          label="Name"
                        ></v-text-field>
                      </v-col>
                      <v-col cols="12" sm="12" md="4">
                        <!-- v-model.number to define the number value -->
                        <v-text-field
                          v-model.number="productStore.editedProduct.price"
                          :readonly="loading"
                          :rules="[(v) => !!v || 'Field is required']"
                          class="mb-2"
                          clearable
                          label="Price"
                        ></v-text-field>
                      </v-col>
                      <v-col cols="12" sm="12" md="4">
                        <v-combobox
                          v-model="productStore.editedProduct.type"
                          :items="productStore.type"
                          item-title="name"
                          item-value="id"
                          label="Select Type"
                          :return-object="true"
                        ></v-combobox>
                      </v-col>
                      <v-col cols="12" sm="6">
                        <v-combobox
                          label="sweet"
                          :items="['0%', '50%', '100%', '150%', '200%']"
                          v-model="productStore.editedProduct.sweet"
                        ></v-combobox>
                      </v-col>

                      <v-col cols="12" sm="12" md="4">
                        <v-img
                          :src="
                            'http://localhost:3000/images/products/' +
                            productStore.editedProduct.image
                          "
                          width="200px"
                        ></v-img>
                      </v-col>
                      <v-col cols="12" sm="12" md="4">
                        <v-file-input
                          v-model="productStore.editedProduct.files"
                          :rules="[
                            (value) => {
                              return (
                                !value ||
                                !value.length ||
                                value[0].size < 2000000 ||
                                'Image size should be less than 2 MB!'
                              )
                            }
                          ]"
                          accept="image/png, image/jpeg"
                          label="Image"
                          placeholder="Pick an image"
                          prepend-icon="mdi-camera"
                        ></v-file-input>
                      </v-col>
                    </v-row>
                  </v-container>
                </v-form>
                <small>*indicates required field</small>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue-darken-1" variant="text" @click="closeDialog()"> Close </v-btn>
                <v-btn color="blue-darken-1" variant="text" @click="save()"> Save </v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>

          <!-- Delete Dialog-->
          <v-dialog v-model="dialogDelete" max-width="500px">
            <v-card>
              <v-card-title class="text-h5"
                >Are you sure you want to delete this item?</v-card-title
              >
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue-darken-1" variant="text" @click="closeDelete">Cancel</v-btn>
                <v-btn color="blue-darken-1" variant="text" @click="deleteItemConfirm">OK</v-btn>
                <v-spacer></v-spacer>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-toolbar>
      </template>
      <template v-slot:[`item.actions`]="{ item }">
        <v-icon size="small" class="me-2" @click="editItem(item)"> mdi-pencil </v-icon>
        <v-icon size="small" @click="deleteItem(item)"> mdi-delete </v-icon>
      </template>
      <template v-slot:[`item.image`]="{ item }">
        <v-img :src="'http://localhost:3000/images/products/' + item.image"></v-img>
      </template>
      <template v-slot:no-data>
        <v-btn color="#5e503f" @click="productStore.getProducts"> Reset </v-btn>
      </template>
    </v-data-table>
  </div>
  <div>
    <v-data-table v-if="searchDialog" :headers2="headers2" :items="count">
      <v-dialog v-model="searchDialog" max-width="500px">
        <v-card>
          <v-card-title class="text-h5">Search Product Type Range</v-card-title>
          <v-card-text>
            <!-- Input fields for search criteria -->
            <v-container>
              <v-row>
                <!-- Input field 1 -->
                <v-col cols="12" sm="6">
                  <v-text-field v-model="ID" label="product type(1,2,3)"></v-text-field>
                </v-col>
                <!-- Input field 2 -->
                <v-col cols="12" sm="6">
                  <v-text-field v-model="ALP" label="range (A,B,C)"></v-text-field>
                </v-col>
                <v-col cols="12" sm="12">
                  <v-table class="ma-2 rounded-xl">
                    <thead>
                      <tr>
                        <th class="text-center">Name</th>
                        <th class="text-center">Price</th>
                        <th class="text-center">Type</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="(item, index) in count" :key="index">
                        <td class="text-center">
                          {{ item.name }}
                        </td>
                        <td class="text-center">
                          {{ item.price }}
                        </td>
                        <td class="text-center">
                          {{ item.type }}
                        </td>
                      </tr>
                    </tbody>
                  </v-table>
                </v-col>
              </v-row>
            </v-container>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <!-- Buttons for action -->
            <v-btn color="blue darken-1" variant="text" @click="searchDialog = false">Cancel</v-btn>
            <v-btn color="blue darken-1" variant="text" @click="search">Search</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-data-table>
  </div>
  <div>
    <v-data-table v-if="searchDialog3" :headers3="headers3" :items="count3">
      <v-dialog v-model="searchDialog3" max-width="500px">
        <v-card>
          <v-card-title class="text-h5">Product ALL</v-card-title>
          <v-card-text>
            <!-- Input fields for search criteria -->
            <v-container>
              <v-row>
                <v-col cols="12" sm="12">
                  <v-table class="ma-2 rounded-xl">
                    <thead>
                      <tr>
                        <th class="text-center">RowID</th>
                        <th class="text-center">Name</th>
                        <th class="text-center">Type_ID</th>
                        <th class="text-center">ItemDetail</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="(item, index) in count3" :key="index">
                        <td class="text-center">
                          {{ item.RowID }}
                        </td>
                        <td class="text-center">
                          {{ item.NAME }}
                        </td>
                        <td class="text-center">
                          {{ item.TYPE_ID }}
                        </td>
                        <td class="text-center">
                          {{ item.ItemDetail }}
                        </td>
                      </tr>
                    </tbody>
                  </v-table>
                </v-col>
              </v-row>
            </v-container>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <!-- Buttons for action -->
            <v-btn color="blue darken-1" variant="text" @click="searchDialog3 = false"
              >Cancel</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-data-table>
  </div>
</template>
