<!-- eslint-disable vue/no-side-effects-in-computed-properties -->
<script setup lang="ts">
import type { Product } from '@/types/Product'
import { nextTick, ref, onMounted, computed } from 'vue'
import type { VForm } from 'vuetify/components'
import { usePromotionStore } from '@/stores/promotion'
import type { Promotion } from '@/types/Promotion'
import { useProductStore } from '@/stores/product'

const promotionStore = usePromotionStore()
const productStore = useProductStore()
const headers = [
  {
    title: 'ID',
    key: 'id',
    value: 'id'
  },
  {
    title: 'Promotion Name',
    key: 'name',
    value: 'name'
  },
  {
    title: 'Description',
    key: 'description',
    value: 'description'
  },
  {
    title: 'Start Date',
    key: 'start_date',
    value: 'start_date'
  },
  {
    title: 'End Date',
    key: 'end_date',
    value: 'end_date'
  },
  { title: 'Actions', key: 'actions', sortable: false }
]

const form = ref(false)
const refForm = ref<VForm | null>(null)
const dialog = ref(false)
const dialogDelete = ref(false)
const loading = ref(false)
const startDate = ref(false)
const endDate = ref(false)

const discountType = ref('Baht Discount')
const forOneProductId = ref('All Product')
const productName = ref('')
const pointType = ref('Get Point')
const forMember = ref('All Customer')
const newPromotion = ref(false)

const selectedItem = ref<string | null>(null)

function closeDelete() {
  dialogDelete.value = false
  nextTick(() => {
    promotionStore.editedPromotion = Object.assign({}, promotionStore.initialPromotion)
  })
}
async function deleteItemConfirm() {
  closeDelete()
  await promotionStore.delPromotion(promotionStore.editedPromotion)
}
function editItem(item: Promotion) {
  promotionStore.editedPromotion = Object.assign({}, item)
  if (promotionStore.editedPromotion.member === true) {
    forMember.value = 'Member'
  }

  dialog.value = true
}
function deleteItem(item: Promotion) {
  promotionStore.editedPromotion = Object.assign({}, item)
  dialogDelete.value = true
}
function closeDialog() {
  dialog.value = false

  nextTick(() => {
    promotionStore.editedPromotion = Object.assign({}, promotionStore.initialPromotion)
  })
  newPromotion.value = false
}

async function save() {
  const { valid } = await refForm.value!.validate()
  if (!valid) return

  promotionStore.setDateToObject(promotionStore.startDate, promotionStore.endDate)
  if (forMember.value === 'All Customer') {
    promotionStore.editedPromotion.member = false
  } else {
    promotionStore.editedPromotion.member = true
  }

  if (forOneProductId.value === 'All Product') {
    promotionStore.editedPromotion.productId = -1
  } else {
    promotionStore.editedPromotion.forOneItem = true
    promotionStore.editedPromotion.productId =
      productStore.products.find((item) => item.name === productName.value)?.id ?? -1
  }
  console.log('Baht', promotionStore.editedPromotion.priceDiscount)
  console.log('Percent', promotionStore.editedPromotion.percentDiscount)
  await promotionStore.savePromotion(promotionStore.editedPromotion)
  closeDialog()
}

async function clear() {
  newPromotion.value = true
  promotionStore.refreshEditedPromotion()
  discountType.value = 'Baht Discount'
  forOneProductId.value = 'All Product'
  pointType.value = 'Get Point'
  forMember.value = 'Customer'
}

const selectedDiscountValue = computed({
  get() {
    if (newPromotion.value === true) {
      if (discountType.value === 'Baht Discount') {
        promotionStore.editedPromotion.percentDiscount = 0
        return promotionStore.editedPromotion.priceDiscount
      } else {
        promotionStore.editedPromotion.priceDiscount = 0
        return promotionStore.editedPromotion.percentDiscount
      }
    } else {
      if (promotionStore.editedPromotion.percentDiscount !== 0) {
        discountType.value = 'Percent Discount'
        return promotionStore.editedPromotion.percentDiscount
      } else {
        discountType.value = 'Baht Discount'
        return promotionStore.editedPromotion.priceDiscount
      }
    }
  },
  set(value: number) {
    if (newPromotion.value === true) {
      if (discountType.value === 'Baht Discount') {
        promotionStore.editedPromotion.priceDiscount = parseInt(value.toString())
      } else {
        promotionStore.editedPromotion.percentDiscount = parseInt(value.toString())
      }
    } else {
      // Assuming you need to update the correct property in the store based on the condition
      if (promotionStore.editedPromotion.priceDiscount !== 0) {
        promotionStore.editedPromotion.priceDiscount = parseInt(value.toString())
      } else {
        promotionStore.editedPromotion.percentDiscount = parseInt(value.toString())
      }
    }
  }
})

const selectedPointValue = computed({
  get() {
    if (newPromotion.value === true) {
      if (pointType.value === 'Get Point') {
        promotionStore.editedPromotion.usePoint = 0
        return promotionStore.editedPromotion.getPoint
      } else {
        promotionStore.editedPromotion.getPoint = 0
        return promotionStore.editedPromotion.usePoint
      }
    } else {
      if (promotionStore.editedPromotion.usePoint !== 0) {
        pointType.value = 'Use Point'
        return promotionStore.editedPromotion.usePoint
      } else {
        pointType.value = 'Get Point'
        return promotionStore.editedPromotion.getPoint
      }
    }
  },
  set(value: number) {
    if (newPromotion.value === true) {
      if (pointType.value === 'Get Point') {
        promotionStore.editedPromotion.getPoint = parseInt(value.toString())
      } else {
        promotionStore.editedPromotion.usePoint = parseInt(value.toString())
      }
    } else {
      // Assuming you need to update the correct property in the store based on the condition
      if (promotionStore.editedPromotion.getPoint !== 0) {
        promotionStore.editedPromotion.getPoint = parseInt(value.toString())
      } else {
        promotionStore.editedPromotion.usePoint = parseInt(value.toString())
      }
    }
  }
})

const getProductName = () => {
  const product = []
  for (let i = 0; i < productStore.products.length; i++) {
    product.push(productStore.products[i].name)
  }

  return product
}

onMounted(() => {
  promotionStore.getPromotions()
  productStore.getProducts()
})
</script>

<template>
  <v-card style="width: 100%">
    <v-data-table
      :headers="headers"
      :items="promotionStore.promotions"
      style="background-color: #eae0d5"
    >
      <template v-slot:top>
        <v-toolbar style="background-color: #6f4e37" flat>
          <v-toolbar-title style="color: white">Promotion</v-toolbar-title>
          <v-divider class="mx-4" inset vertical></v-divider>
          <v-spacer></v-spacer>
          <!-- Put Edited Dialog -->

          <v-dialog v-model="dialog" persistent width="70%">
            <template v-slot:activator="{ props }">
              <v-btn
                style="background-color: #d2691e"
                color="#eae0d5"
                elevation="1"
                v-bind="props"
                @click="clear()"
              >
                New Promotion
              </v-btn>
            </template>
            <v-card class="pa-2">
              <v-card-title>
                <span class="text-h5">Promotion Profile</span>
              </v-card-title>
              <v-card-text>
                <v-form ref="refForm" v-model="form">
                  <v-container>
                    <v-row>
                      <v-col cols="12" md="3">
                        <v-text-field
                          v-model="promotionStore.editedPromotion.name"
                          :readonly="loading"
                          :rules="[(v: any) => !!v || 'Field is required']"
                          class="mb-2"
                          clearable
                          label="Name"
                        ></v-text-field>
                      </v-col>
                      <v-col cols="12" md="9">
                        <v-text-field
                          v-model="promotionStore.editedPromotion.description"
                          :readonly="loading"
                          :rules="[(v: any) => !!v || 'Field is required']"
                          class="mb-2"
                          clearable
                          label="Description"
                        ></v-text-field>
                      </v-col>
                    </v-row>

                    <!-- condition -->
                    <v-row>
                      <v-col cols="12" md="3">
                        <v-select
                          label="Select Product"
                          :items="['All Product', 'One Product']"
                          v-model="forOneProductId"
                        ></v-select>
                      </v-col>
                      <v-col v-if="forOneProductId === 'One Product'">
                        <v-select
                          label="Select Product"
                          :items="getProductName()"
                          v-model="productName"
                        ></v-select>
                      </v-col>
                      <v-col>
                        <v-text-field
                          v-model="promotionStore.editedPromotion.minQty"
                          :readonly="loading"
                          :rules="[(v: any) => !!v || 'Field is required']"
                          class="mb-2"
                          clearable
                          label="Min Quantity"
                        ></v-text-field
                      ></v-col>
                      <v-col>
                        <v-text-field
                          v-model="promotionStore.editedPromotion.minPrice"
                          :readonly="loading"
                          class="mb-2"
                          label="Min Price"
                        ></v-text-field
                      ></v-col>
                    </v-row>

                    <v-row>
                      <v-col cols="12" md="3">
                        <v-select
                          label="Select Discount"
                          :items="['Baht Discount', 'Percent Discount']"
                          v-model="discountType"
                        ></v-select>
                      </v-col>
                      <v-col
                        ><v-text-field
                          v-model="selectedDiscountValue"
                          :readonly="loading"
                          class="mb-2"
                          :label="discountType === 'Baht Discount' ? 'Baht' : 'Percent %'"
                        ></v-text-field>
                      </v-col>
                    </v-row>
                    <v-row>
                      <v-col cols="12" md="3">
                        <v-select
                          label="Select Customer"
                          :items="['All Customer', 'Member']"
                          v-model="forMember"
                        ></v-select>
                      </v-col>
                      <v-col> </v-col>
                    </v-row>
                    <v-row v-if="selectedPointValue > 0 || forMember === 'Member'">
                      <v-col cols="12" md="3">
                        <v-select
                          label="Select Point"
                          :items="['Get Point', 'Use Point']"
                          v-model="pointType"
                        ></v-select>
                      </v-col>
                      <v-col
                        ><v-text-field
                          v-model="selectedPointValue"
                          :readonly="loading"
                          class="mb-2"
                          label="Point"
                        ></v-text-field>
                      </v-col>
                    </v-row>

                    <v-row>
                      <v-col cols="12" md="8" style="text-align: center">
                        <v-menu
                          v-model="startDate"
                          :close-on-content-click="false"
                          :nudge-right="40"
                          width="30%"
                          transition="scale-transition"
                          offset-y
                        >
                          <template v-slot:activator="{ props }">
                            <v-btn
                              v-bind="props"
                              style="background-color: #1976d2; color: white; margin-right: 5%"
                              >Start Date</v-btn
                            >
                          </template>
                          <v-card width="100%">
                            <v-container class="pa-0" style="text-align: center">
                              <v-date-picker
                                color="#c6ac8f"
                                width="100%"
                                v-model="promotionStore.startDate"
                              ></v-date-picker>
                              <v-container class="pa-2">
                                <v-btn
                                  style="background-color: #c6ac8f; color: white"
                                  width="100%"
                                  @click="startDate = false"
                                >
                                  Back
                                </v-btn>
                              </v-container>
                            </v-container>
                          </v-card>
                        </v-menu>
                        <v-menu
                          v-model="endDate"
                          :close-on-content-click="false"
                          :nudge-right="40"
                          width="30%"
                          transition="scale-transition"
                          offset-y
                        >
                          <template v-slot:activator="{ props }">
                            <v-btn v-bind="props" style="background-color: #bc4749; color: white"
                              >End Date</v-btn
                            >
                          </template>
                          <v-card width="100%">
                            <v-container class="pa-0" style="text-align: center">
                              <v-date-picker
                                color="#c6ac8f"
                                width="100%"
                                v-model="promotionStore.endDate"
                              ></v-date-picker>
                              <v-container class="pa-2">
                                <v-btn
                                  style="background-color: #c6ac8f; color: white"
                                  variant="text"
                                  width="100%"
                                  @click="endDate = false"
                                >
                                  Back
                                </v-btn>
                              </v-container>
                            </v-container>
                          </v-card>
                        </v-menu>
                      </v-col>
                    </v-row>
                  </v-container>
                </v-form>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn width="12%" color="red-darken-1" variant="text" @click="closeDialog()">
                  Close
                </v-btn>
                <v-btn width="12%" color="blue-darken-1" variant="text" @click="save()">
                  Save
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>

          <!-- Delete Dialog-->
          <v-dialog v-model="dialogDelete" max-width="500px">
            <v-card>
              <v-card-title class="text-h5"
                >Are you sure you want to delete this item?</v-card-title
              >
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue-darken-1" variant="text" @click="closeDelete">Cancel</v-btn>
                <v-btn color="blue-darken-1" variant="text" @click="deleteItemConfirm">OK</v-btn>
                <v-spacer></v-spacer>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-toolbar>
      </template>
      <template v-slot:[`item.actions`]="{ item }">
        <v-icon
          size="small"
          class="me-2"
          @click="
            editItem(item),
              promotionStore.ConvertStartDate(promotionStore.editedPromotion),
              promotionStore.ConvertEndDate(promotionStore.editedPromotion)
          "
        >
          mdi-pencil
        </v-icon>
        <v-icon size="small" @click="deleteItem(item)"> mdi-delete </v-icon>
      </template>
      <template v-slot:no-data>
        <v-btn color="#5e503f" @click="promotionStore.getPromotions"> Reset </v-btn>
      </template>
    </v-data-table>
  </v-card>
</template>
