<script lang="ts" setup>
import { nextTick, onMounted, ref } from 'vue'
import type { VForm } from 'vuetify/components'
import type { User } from '@/types/User'
import http from '@/services/http'
import { useLoadingStore } from '@/stores/loading'
import userService from '@/services/user'
import { useUserStore } from '@/stores/user'
import { useRoleStore } from '@/stores/role'
import { useBranchStore } from '@/stores/branch'
import type { Branch } from '@/types/Branch'

const count = ref<Count[]>([])
type Count = {
  user_and_branch: string
}
const searchDialog = ref(false)
const BranchID = ref('')
const BaseSalary = ref('')

function openSearchDialog() {
  searchDialog.value = true
}

async function search() {
  count.value = (
    await userService.getUserCount(Number(BranchID.value), Number(BaseSalary.value))
  ).data
}
const userStore = useUserStore()
const headers = [
  {
    title: 'Id',
    key: 'id',
    value: 'id'
  },
  {
    title: 'Photo',
    key: 'image'
  },
  {
    title: 'Email',
    key: 'email',
    value: 'email'
  },
  {
    title: 'Full Name',
    key: 'fullName',
    value: 'fullName'
  },
  {
    title: 'Gender',
    key: 'gender',
    value: 'gender'
  },
  {
    title: 'Telephone Number',
    key: 'tel',
    value: 'tel'
  },
  {
    title: 'Base Salary',
    key: 'baseSalary',
    value: 'baseSalary'
  },
  {
    title: 'Bank Name',
    key: 'bankName',
    value: 'bankName'
  },
  {
    title: 'Bank Account',
    key: 'bankAccount',
    value: 'bankAccount'
  },
  // {
  //   title: 'Salary Status',
  //   key: 'salaryStatus',
  //   value: 'salaryStatus'
  // },
  {
    title: 'Roles',
    key: 'roles',
    value: (item: any | User) => item.roles.map((r: any) => r.name).join(', ')
  },
  {
    title: 'Branch',
    key: 'branch', // key reference to database column
    value: (item: any | Branch) => item.branchs.name
  },
  { title: 'Actions', key: 'actions', sortable: false }
]

const headers2 = [
  {
    title: 'Name',
    key: 'name', // key reference to database column
    value: 'name'
  },
  {
    title: 'Branch',
    key: 'branch', // key reference to database column
    value: 'branch'
  },
  { title: 'Actions', key: 'actions', sortable: false }
]
const loadingStore = useLoadingStore()
const form = ref(false)
const refForm = ref<VForm | null>(null)
const dialog = ref(false)
const dialogDelete = ref(false)
const loading = ref(false)
const roleStore = useRoleStore()
const branchStore = useBranchStore()
const dialogPayment = ref(false)
const finishPayment = ref(false)

let editedIndex = -1
let lastId = 4
function onSubmit() {}

function closeDelete() {
  dialogDelete.value = false
  nextTick(() => {
    userStore.clearForm()
  })
}
async function deleteItemConfirm() {
  // Delete item from list
  await userStore.deleteUser()
  closeDelete()
}
async function editItem(item: User) {
  if (!item.id) return
  await userStore.getUser(item.id)
  dialog.value = true
}
async function deleteItem(item: User) {
  if (!item.id) return
  await userStore.getUser(item.id)
  dialogDelete.value = true
  editedIndex = -1
}
async function payItem(item: User) {
  if (!item.id) return
  await userStore.getUser(item.id)
  dialogPayment.value = true
}
function closeDialog() {
  dialog.value = false
  nextTick(() => {
    userStore.clearForm()
  })
}
function closePayment() {
  dialogPayment.value = false
  nextTick(() => {
    userStore.clearForm()
  })
}
function proceedPayment() {
  dialogPayment.value = false
  finishPayment.value = true
}
function closeSucceed() {
  finishPayment.value = false
}
async function save() {
  const { valid } = await refForm.value!.validate()
  if (!valid) return
  await userStore.saveUser()
  closeDialog()
}

onMounted(async () => {
  await userStore.getUsers()
  await roleStore.getRoles()
})
</script>
<template>
  <div>
    <v-data-table :headers="headers" :items="userStore.users" style="background-color: #eae0d5">
      <template v-slot:top>
        <v-toolbar color="#5e503f" flat>
          <v-toolbar-title>Users</v-toolbar-title>
          <v-divider class="mx-4" inset vertical></v-divider>
          <v-spacer></v-spacer>
          <!-- Put Edited Dialog -->

          <v-dialog v-model="dialog" persistent width="1024">
            <template v-slot:activator="{ props }">
              <v-btn color="white" v-bind="props"> New User </v-btn>
              <v-btn color="white" @click="openSearchDialog"> Search </v-btn>
            </template>
            <v-card>
              <v-card-title>
                <span class="text-h5">User Profile</span>
              </v-card-title>
              <v-card-text>
                <v-form ref="refForm" v-model="form" @submit.prevent="onSubmit">
                  <v-container>
                    <v-row>
                      <v-col cols="12" sm="12" md="4">
                        <v-text-field
                          v-model="userStore.editedUser.email"
                          :readonly="loading"
                          :rules="[(v) => !!v || 'Field is required']"
                          class="mb-2"
                          clearable
                          label="Email"
                        ></v-text-field>
                      </v-col>
                      <v-col cols="12" sm="12" md="4">
                        <v-text-field
                          v-model="userStore.editedUser.fullName"
                          :readonly="loading"
                          :rules="[(v) => !!v || 'Field is required']"
                          class="mb-2"
                          clearable
                          label="Full Name"
                        ></v-text-field>
                      </v-col>
                      <v-col cols="12" sm="12" md="4">
                        <v-text-field
                          v-model="userStore.editedUser.password"
                          :readonly="loading"
                          :rules="[(v) => !!v || 'Field is required']"
                          clearable
                          label="Password"
                          placeholder="Enter your password"
                        ></v-text-field>
                      </v-col>
                      <v-col cols="12" sm="12" md="4">
                        <v-text-field
                          v-model="userStore.editedUser.tel"
                          :readonly="loading"
                          :rules="[(v) => !!v || 'Field is required']"
                          clearable
                          label="Telephone Number"
                        ></v-text-field>
                      </v-col>
                      <v-col cols="12" sm="6" md="4">
                        <v-combobox
                          label="Gender"
                          :items="['male', 'female', 'others']"
                          v-model="userStore.editedUser.gender"
                        ></v-combobox>
                      </v-col>
                      <v-col cols="12" sm="6" md="4">
                        <v-combobox
                          v-model="userStore.editedUser.roles"
                          :items="roleStore.roles"
                          item-title="name"
                          item-value="id"
                          label="Select roles"
                          multiple
                          :return-object="true"
                        ></v-combobox>
                      </v-col>
                      <v-col cols="12" sm="12" md="4">
                        <v-text-field
                          v-model="userStore.editedUser.baseSalary"
                          :readonly="loading"
                          :rules="[(v) => !!v || 'Field is required']"
                          clearable
                          label="Base Salary"
                        ></v-text-field>
                      </v-col>
                      <v-col cols="12" sm="12" md="4">
                        <v-text-field
                          v-model="userStore.editedUser.bankName"
                          :readonly="loading"
                          :rules="[(v) => !!v || 'Field is required']"
                          clearable
                          label="Bank Name"
                        ></v-text-field>
                      </v-col>
                      <v-col cols="12" sm="12" md="4">
                        <v-text-field
                          v-model="userStore.editedUser.bankAccount"
                          :readonly="loading"
                          :rules="[(v) => !!v || 'Field is required']"
                          clearable
                          label="Bank Account"
                        ></v-text-field>
                      </v-col>
                      <v-col cols="12" sm="6" md="4">
                        <v-combobox
                          v-model="userStore.editedUser.branchs"
                          :items="branchStore.branchs"
                          item-title="name"
                          item-value="id"
                          label="Select branch"
                          single-line
                          :return-object="true"
                        ></v-combobox>
                      </v-col>
                      <v-col cols="12" sm="6">
                        <v-img
                          :src="'http://localhost:3000/images/users/' + userStore.editedUser.image"
                          width="300"
                        ></v-img>
                      </v-col>
                      <v-col cols="12" sm="6">
                        <v-file-input
                          v-model="userStore.editedUser.files"
                          :rules="[
                            (value) => {
                              return (
                                !value ||
                                !value.length ||
                                value[0].size < 2000000 ||
                                'Avatar size should be less than 2MB!'
                              )
                            }
                          ]"
                          accept="image/png, image/jpeg"
                          placeholder="Pick an avatar"
                          prepend-icon="mdi-camera"
                          label="Avatar"
                        ></v-file-input>
                      </v-col>
                    </v-row>
                  </v-container>
                </v-form>
                <small>*indicates required field</small>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue-darken-1" variant="text" @click="closeDialog()"> Close </v-btn>
                <v-btn color="blue-darken-1" variant="text" @click="save()"> Save </v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>

          <!-- Delete Dialog-->
          <v-dialog v-model="dialogDelete" max-width="500px">
            <v-card>
              <v-card-title class="text-h5"
                >Are you sure you want to delete this item?</v-card-title
              >
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue-darken-1" variant="text" @click="closeDelete">Cancel</v-btn>
                <v-btn color="blue-darken-1" variant="text" @click="deleteItemConfirm">OK</v-btn>
                <v-spacer></v-spacer>
              </v-card-actions>
            </v-card>
          </v-dialog>

          <v-dialog v-model="dialogPayment" max-width="1000px">
            <v-card>
              <v-toolbar>
                <v-toolbar-title>Salary Payment</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-btn icon @click="closePayment">
                  <v-icon>mdi-close</v-icon>
                </v-btn>
              </v-toolbar>
              <v-card-text>
                <v-form ref="refform" v-model="form" @submit.prevent="onSubmit">
                  <v-container>
                    <v-row>
                      <v-col cols="6">
                        <span style="font-weight: bold">Card Number</span>
                        <v-text-field
                          :readonly="loading"
                          :rules="[(v) => !!v || 'Field is required']"
                          class="mb-2"
                          clearable
                        >
                        </v-text-field>
                      </v-col>
                      <v-col cols="4">
                        <span style="font-weight: bold">Expiration</span>
                        <v-row>
                          <v-col cols="6">
                            <v-select
                              label="01"
                              :items="[
                                '01',
                                '02',
                                '03',
                                '04',
                                '05',
                                '06',
                                '07',
                                '08',
                                '09',
                                '10',
                                '11',
                                '12'
                              ]"
                            >
                            </v-select>
                          </v-col>
                          <v-col cols="6">
                            <v-select
                              label="2024"
                              :items="[
                                '2024',
                                '2025',
                                '2026',
                                '2027',
                                '2028',
                                '2029',
                                '2030',
                                '2031',
                                '2032',
                                '2033',
                                '2034',
                                '2035'
                              ]"
                            >
                            </v-select>
                          </v-col>
                        </v-row>
                      </v-col>
                      <v-col cols="2">
                        <span style="font-weight: bold">CSC</span>
                        <v-text-field
                          :readonly="loading"
                          :rules="[(v) => !!v || 'Field is required']"
                          class="mb-2"
                          clearable
                        >
                        </v-text-field>
                      </v-col>
                    </v-row>
                    <v-row>
                      <v-col cols="6">
                        <span style="font-weight: bold">First Name</span>
                        <v-text-field
                          :readonly="loading"
                          :rules="[(v) => !!v || 'Field is required']"
                          class="mb-2"
                          clearable
                        >
                        </v-text-field>
                      </v-col>
                      <v-col cols="6">
                        <span style="font-weight: bold">Last Name</span>
                        <v-text-field
                          :readonly="loading"
                          :rules="[(v) => !!v || 'Field is required']"
                          class="mb-2"
                          clearable
                        >
                        </v-text-field>
                      </v-col>
                    </v-row>
                  </v-container>
                </v-form>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue-darken-1" variant="text" @click="proceedPayment">Proceed</v-btn>
                <v-spacer></v-spacer>
              </v-card-actions>
            </v-card>
          </v-dialog>

          <v-dialog v-model="finishPayment" max-width="300px" max-height="300px">
            <v-card>
              <v-card-text class="text-center">
                <v-icon size="40">mdi-checkbox-marked-circle-outline</v-icon>
                <span>Succeed</span>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue-darken-1" variant="text" @click="closeSucceed">Close</v-btn>
                <v-spacer></v-spacer>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-toolbar>
      </template>
      <!-- <template v-slot:[`item.salaryStatus`]="{ item }">
          <v-chip :color="userStore.getColor(item.salaryStatus)">
            {{ item.salaryStatus }}
          </v-chip>
        </template> -->
      <template v-slot:[`item.actions`]="{ item }">
        <v-icon size="small" class="me-2" @click="payItem(item)"> mdi-credit-card </v-icon>
        <v-icon size="small" class="me-2" @click="editItem(item)"> mdi-pencil </v-icon>
        <v-icon size="small" @click="deleteItem(item)"> mdi-delete </v-icon>
      </template>
      <template v-slot:[`item.image`]="{ item }">
        <v-img :src="'http://localhost:3000/images/users/' + item.image" width="100"></v-img>
      </template>
      <template v-slot:no-data>
        <v-btn color="#5e503f" @click="userStore.getUsers"> Reset </v-btn>
      </template>
    </v-data-table>
  </div>
  <v-data-table v-if="searchDialog" :headers2="headers2" :items="count">
    <v-dialog v-model="searchDialog" max-width="500px">
      <v-card>
        <v-card-title class="text-h5">Search User Base</v-card-title>
        <v-card-text>
          <!-- Input fields for search criteria -->
          <v-container>
            <v-row>
              <!-- Input field 1 -->
              <v-col cols="12" sm="6">
                <v-text-field v-model="BranchID" label="Branch ID"></v-text-field>
              </v-col>
              <!-- Input field 2 -->
              <v-col cols="12" sm="6">
                <v-text-field v-model="BaseSalary" label="Base Salary"></v-text-field>
              </v-col>
              <v-col cols="12" sm="12"
                ><v-table class="ma-2 rounded-xl">
                  <thead>
                    <tr>
                      <th class="text-center">Name</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="(item, index) in count" :key="index">
                      <td class="text-center">
                        {{ item.user_and_branch }}
                      </td>
                    </tr>
                  </tbody>
                </v-table></v-col
              >
            </v-row>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <!-- Buttons for action -->
          <v-btn color="blue darken-1" variant="text" @click="searchDialog = false">Cancel</v-btn>
          <v-btn color="blue darken-1" variant="text" @click="search">Search</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-data-table>
</template>
