<script setup lang="ts">
import { useAuthStore } from '@/stores/auth'
import { inject, onMounted, type Ref } from 'vue'

const rail = inject<Ref<boolean>>('rail')
const drawer = inject<Ref<boolean>>('drawer')
const authStore = useAuthStore()
const role = () => {
  if (authStore.member) return 'Member'
  if (authStore.owner) return 'Owner'
  if (authStore.manager) return 'Manager'
  if (authStore.user) return 'User'
}

function getUserOrMember() {
  if (authStore.getCurrentMember()) {
    return authStore.getCurrentMember()?.email
  } else {
    return authStore.getCurrentUser()?.email
  }
}

onMounted(async () => {
  getUserOrMember()
})
</script>

<template>
  <v-navigation-drawer
    v-model="drawer"
    :rail="rail"
    permanent
    @click="rail = false"
    color="#c6ac8f"
  >
    <v-list-item
      style="margin-left: 10%"
      prepend-avatar="https://randomuser.me/api/portraits/men/85.jpg"
      :title="getUserOrMember()"
      nav
    >
      <div style="font-size: 11px">{{ role() }}</div>
      <template v-slot:append>
        <v-btn variant="text" icon="mdi-chevron-left" @click.stop="rail = !rail"></v-btn>
      </template>
    </v-list-item>

    <v-divider></v-divider>

    <v-list density="compact" nav>
      <!-- Pos -->
      <v-list-item
        v-if="(authStore.owner || authStore.manager || authStore.user) === true"
        prepend-icon="mdi-cash-register"
        title="Point of Sell"
        value="pos"
        :to="{ name: 'pos' }"
      ></v-list-item>

      <!-- CheckinCheckout -->
      <v-list-group
        value="Checkin"
        v-if="(authStore.owner || authStore.manager || authStore.user) === true"
      >
        <template v-slot:activator="{ props }">
          <v-list-item
            prepend-icon="mdi-account-arrow-down"
            v-bind="props"
            title="Check in"
          ></v-list-item>
        </template>
        <v-list-item
          prepend-icon="mdi-account-arrow-left"
          title="Check in detail"
          :to="{ name: 'checkincheckout' }"
        ></v-list-item>
        <v-list-item
          prepend-icon="mdi-account-plus"
          title="Check in check out"
          :to="{ name: 'checkindetail' }"
        ></v-list-item>
      </v-list-group>

      <!-- Member -->
      <v-list-item
        v-if="(authStore.member || authStore.user || authStore.owner || authStore.manager) === true"
        prepend-icon="mdi-card-account-details"
        title="Member Order"
        value="member"
        :to="{ name: 'member' }"
      ></v-list-item>

      <!-- Product -->
      <v-list-item
        v-if="(authStore.owner || authStore.user || authStore.manager) === true"
        prepend-icon="mdi-cup"
        title="Product"
        value="product"
        :to="{ name: 'product' }"
      ></v-list-item>

      <!-- Promotion -->
      <v-list-item
        v-if="(authStore.owner || authStore.user || authStore.manager) === true"
        prepend-icon="mdi-cash-multiple"
        title="Promotion"
        value="promotion"
        :to="{ name: 'promotion' }"
      ></v-list-item>
      <!-- Order -->
      <v-list-item
        v-if="(authStore.owner || authStore.manager) === true"
        prepend-icon="mdi-receipt-text"
        title="Order"
        value="order"
        :to="{ name: 'order' }"
      ></v-list-item>

      <!-- Salary -->
      <v-list-group v-if="(authStore.manager || authStore.owner) === true" value="Salary">
        <template v-slot:activator="{ props }">
          <v-list-item prepend-icon="mdi-cash" v-bind="props" title="Salary"></v-list-item>
        </template>
        <v-list-item
          prepend-icon="mdi-cash"
          title="Salary Management"
          :to="{ name: 'salarymanagement' }"
        ></v-list-item>
        <v-list-item
          prepend-icon="mdi-cash"
          title="Salary Owner View"
          :to="{ name: 'salaryowner' }"
        ></v-list-item>
      </v-list-group>

      <v-list-item
        v-if="authStore.owner === true"
        prepend-icon="mdi-chart-histogram"
        title="Report Order"
        value="reportorder"
        :to="{ name: 'reportorder' }"
      ></v-list-item>

      <!-- User -->
      <v-list-item
        v-if="(authStore.owner || authStore.manager) === true"
        prepend-icon="mdi-account"
        title="Users"
        value="users"
        :to="{ name: 'users' }"
      ></v-list-item>

      <!-- Branch -->
      <v-list-item
        v-if="authStore.owner === true"
        prepend-icon="mdi-home"
        title="Branch"
        value="branch"
        :to="{ name: 'branch' }"
      ></v-list-item>

      <!-- Stock -->
      <v-list-group
        value="Stock"
        v-if="(authStore.owner || authStore.user || authStore.manager) === true"
      >
        <template v-slot:activator="{ props }">
          <v-list-item prepend-icon="mdi-barn" v-bind="props" title="Stock"></v-list-item>
        </template>
        <v-list-item
          prepend-icon="mdi-warehouse"
          v-if="(authStore.owner || authStore.user || authStore.manager) === true"
          title="Stock"
          :to="{ name: 'stock' }"
        ></v-list-item>
        <v-list-item
          prepend-icon="mdi-file-document-multiple"
          v-if="(authStore.owner || authStore.user || authStore.manager) === true"
          title="Report Stock"
          :to="{ name: 'report_stock' }"
        ></v-list-item>
        <v-list-item
          prepend-icon="mdi-truck-delivery"
          v-if="(authStore.owner || authStore.user || authStore.manager) === true"
          title="Purchase Order"
          :to="{ name: 'pur_order' }"
        ></v-list-item>
        <!-- <v-list-item
          prepend-icon="mdi-truck-delivery"
          v-if="(authStore.owner || authStore.user || authStore.manager) === true"
          title="report_pur"
          :to="{ name: 'report_pur' }"
        ></v-list-item> -->
      </v-list-group>

      <!-- bill-payment  -->
      <v-list-item
        v-if="(authStore.manager || authStore.owner) === true"
        prepend-icon="mdi-file-document-edit"
        title="Bill Payment"
        value="billpayment"
        :to="{ name: 'billpayment' }"
      ></v-list-item>
    </v-list>

    <v-divider></v-divider>

    <!-- Logout -->
    <v-list dense nav class="mt-auto">
      <v-list-item
        prepend-icon="mdi-logout"
        title="Logout"
        value="logout"
        :to="{ name: 'login' }"
        @click="authStore.logout()"
      ></v-list-item>
    </v-list>
  </v-navigation-drawer>
</template>
