<script setup lang="ts">
import { useAuthStore } from '@/stores/auth'
import { inject, type Ref } from 'vue'

const rail = inject<Ref<boolean>>('rail')
const drawer = inject<Ref<boolean>>('drawer')
const authStore = useAuthStore()
</script>

<template>
  <v-navigation-drawer
    v-model="drawer"
    :rail="rail"
    permanent
    @click="rail = false"
    ccolor="#c6ac8f"
  >
    <v-list-item
      prepend-avatar="https://randomuser.me/api/portraits/men/85.jpg"
      :title="authStore.getCurrentUser()?.email"
      nav
    >
      <template v-slot:append>
        <v-btn variant="text" icon="mdi-chevron-left" @click.stop="rail = !rail"></v-btn>
      </template>
    </v-list-item>

    <v-divider></v-divider>

    <v-list density="compact" nav>
      <!-- Member -->
      <v-list-item
        v-if="(authStore.member || authStore.user || authStore.owner || authStore.manager) === true"
        prepend-icon="mdi-card-account-details"
        title="Member Order"
        value="member"
        :to="{ name: 'member' }"
      ></v-list-item>

      <!-- Member -->
      <v-list-item
        v-if="(authStore.owner || authStore.user || authStore.manager) === true"
        prepend-icon="mdi-cash-multiple"
        title="Promotion"
        value="promotion"
        :to="{ name: 'promotion' }"
      ></v-list-item>
    </v-list>

    <v-divider></v-divider>

    <!-- Logout -->
    <v-list dense nav class="mt-auto">
      <v-list-item
        prepend-icon="mdi-logout"
        title="Logout"
        value="logout"
        :to="{ name: 'login' }"
        @click="authStore.logout()"
      ></v-list-item>
    </v-list>
  </v-navigation-drawer>
</template>
