<script setup lang="ts">
import { type Product } from '@/types/Product'
import ProductCard from './ProductCard.vue'
import { ref } from 'vue'
defineProps<{
  products: Product[]
}>()

const emit = defineEmits<{
  selectedProduct: [Product] //selectedProduct( Product p)
}>()

function selected(p: Product) {
  emit('selectedProduct', p)
}
</script>

<template>
  <div style="max-width: 100%; max-height: 100%; overflow: auto">
    <v-container no-gutters>
      <v-row>
        <v-col v-for="item of products" :key="item.id" cols="12" md="4" no-gutters>
          <ProductCard :product="item" @selectedProduct="selected"></ProductCard>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>
