<script setup lang="ts">
import { useReceiptStore } from '@/stores/receipt'
import { type Product, getImageUrl } from '@/types/Product'
import { ref } from 'vue'

const receiptStore = useReceiptStore()
const sweetness = ['0%', '50%', '100%', '200%', '300%']
const toggleSelect = ref(false)

const buttonSweetColor = ref('#5e503f')
const levelSweet = ['#F5F3F0', '#E1DAD2', '#CDC1B4', '#B9A995', '#A59077']

function switchColor(color: string) {
  buttonSweetColor.value = color
  toggleSelect.value = !toggleSelect.value
}
const emit = defineEmits<{
  selectedProduct: [product: Product] //selectedProduct( Product p)
}>()

const props = defineProps<{
  product: Product
}>()
const selected = function () {
  if (props.product.type.id > 2) {
    props.product.sweet = ''
  }
  emit('selectedProduct', props.product)
}
</script>
<template>
  <v-row no-gutters>
    <v-col cols="12" md="11">
      <v-card
        min-width="50"
        max-width="100%"
        height="150"
        elevation="6"
        @click="selected"
        class="v-card1"
      >
        <v-img :src="getImageUrl(product)" class="minimal-size"></v-img>
        <div style="text-align: center; padding-bottom: 2%">
          {{ product.name }} {{ product.price }} baht
        </div>
      </v-card></v-col
    >
    <v-col cols="12" md="1">
      <v-row>
        <v-btn
          v-if="product.type.id <= 2"
          :style="{ backgroundColor: buttonSweetColor }"
          size="35px"
          @click="toggleSelect = !toggleSelect"
          ><div><v-icon color="#eae0d5">mdi-spoon-sugar</v-icon></div>
        </v-btn>
      </v-row>
      <v-row>
        <v-btn
          style="height: 25px; width: 100%"
          size="40px"
          v-if="toggleSelect"
          v-for="(item, index) of sweetness"
          :style="{ backgroundColor: levelSweet[index] }"
          @click="(product.sweet = item), switchColor(levelSweet[index])"
        >
          <div style="font-weight: 600; font-size: 9px">{{ item }}</div></v-btn
        ></v-row
      >
    </v-col>
  </v-row>

  <!-- <v-avatar
                  class="bg-accent text-uppercase"
                  start
                >{{ data.item.title.slice(0, 1) }}</v-avatar> -->
</template>

<style scoped>
.minimal-size {
  width: 100px;
  height: 100px;
}
.v-card1 {
  background-color: #eae0d5;
  color: #0a0908;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
/* .colorSelect {
  background-color: #088fb4;
} */
</style>
