<script setup lang="ts">
import { useMemberStore } from '@/stores/member'
import { useReceiptStore } from '@/stores/receipt'
import { useReceiptPromotion } from '@/stores/receiptPromotion'
import type { Promotion } from '@/types/Promotion'
import { ref } from 'vue'

const receiptStore = useReceiptStore()
const receiptPromotionStore = useReceiptPromotion()
const memberStore = useMemberStore()

defineProps<{
  promotion: Promotion
}>()
const emit = defineEmits<{
  selectedPromotion: [promotion: Promotion]
}>()

const clicked = ref(false)

function isPromotionMember(promotion: Promotion, productIndex: number) {
  if (promotion.member === true && memberStore.isMember === true) {
    if (memberStore.currentMember!.point >= promotion.usePoint) {
      return hasProductId(promotion, productIndex)
    }
  } else if (promotion.member === false) {
    return hasProductId(promotion, productIndex)
  }
  return false
}

function hasProductId(promotion: Promotion, productIndex: number) {
  console.log('Promotion access: ', promotion.name)
  if (productIndex !== undefined && productIndex >= 0) {
    let qtyOfOneProduct = 0
    let totalOfProduct = 0
    for (let i = 0; i < receiptStore.receiptItems.length; i++) {
      if (receiptStore.receiptItems[i].productId === promotion.productId) {
        qtyOfOneProduct += receiptStore.receiptItems[i].qty
        totalOfProduct += receiptStore.receiptItems[i].price
      }
    }

    return minPriceQty(promotion, qtyOfOneProduct, totalOfProduct)
  } else if (promotion.productId === -1) {
    let qtyProduct = 0
    let totalProduct = 0
    for (let i = 0; i < receiptStore.receiptItems.length; i++) {
      qtyProduct += receiptStore.receiptItems[i].qty
      totalProduct += receiptStore.receiptItems[i].price * receiptStore.receiptItems[i].qty
    }
    return minPriceQty(promotion, qtyProduct, totalProduct)
  }
  return false
}

function minPriceQty(promotion: Promotion, qtyBuyProduct: number, totalOfProduct: number) {
  console.log('totalOfProduct', totalOfProduct)
  if (
    qtyBuyProduct >= promotion.minQty &&
    totalOfProduct >= promotion.minPrice &&
    totalOfProduct >= promotion.priceDiscount &&
    totalOfProduct >= (promotion.percentDiscount / totalOfProduct) * 100
  ) {
    if (promotion.usePoint > 0) {
      return true
    } else {
      ;(clicked.value = !clicked.value),
        receiptPromotionStore.addPromotionItem(promotion),
        receiptStore.calReceipt()
      console.log(receiptPromotionStore.promotionSelected)
      return false
    }
  }
  return false
}

function isButtonDisabled(promotion: Promotion) {
  // is member
  // is has productId
  const productIndex = receiptStore.receiptItems.findIndex(
    (item) => item.productId === promotion.productId
  )
  // if unclick check
  if (clicked.value === false) {
    return isPromotionMember(promotion, productIndex)
  }
  return false
}

function getButtonBackgroundColor() {
  // Logic to determine the background color based on conditions
  if (clicked.value === true) {
    return 'red' // Example: red background color
  } else {
    return 'success' // Example: green background color
  }
}

function getText() {
  if (clicked.value === true) {
    return 'Got' // Example: red background color
  } else {
    return 'Get' // Example: green background color
  }
}

function clicking(promotion: Promotion) {
  ;(clicked.value = !clicked.value),
    receiptPromotionStore.addPromotionItem(promotion),
    receiptStore.calReceipt()
}
</script>
<template>
  <v-card
    min-width="50"
    min-height="118px"
    max-width="100%"
    max-height="100%"
    elevation="4"
    @click.stop="
      () => {
        emit('selectedPromotion', promotion)
      }
    "
    class="image-container"
  >
    <v-card-title style="text-align: center; font-size: 100%; font-weight: 550; padding: 1%">{{
      promotion.name
    }}</v-card-title>
    <!-- <v-img :src="getImageUrl(promotion)" class="minimal-size"></v-img> -->
    <div style="text-align: center; font-size: 10px">
      {{ promotion.description }}
    </div>
    <v-spacer></v-spacer>
    <v-btn
      :disabled="!isButtonDisabled(promotion)"
      @click="clicking(promotion)"
      :color="getButtonBackgroundColor()"
      width="100%"
      height="30px"
    >
      {{ getText() }}
    </v-btn>
  </v-card>
</template>

<style scoped>
.minimal-size {
  width: 50;
  height: 50;
}
.image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5%;
  padding: 5%;
  background-color: #eae0d5;
}
.card-actions {
  bottom: 0;
}
</style>
