<script setup lang="ts">
// import { useSalaryStore } from '@/stores/salary';
import type { Salary } from '@/types/Salary'
import { computed, nextTick, ref } from 'vue'
import { onMounted } from 'vue'
import type { VForm } from 'vuetify/components'
import { useLoadingStore } from '@/stores/loading'
import { useSalaryStore } from '@/stores/salary'


const salaryStore = useSalaryStore()
//กำหนดหัวData table
const headers = [
  {
    title: 'Salary ID',
    key: 'id',
    value: 'id'
  },
  {
    title: 'User ID',
    key: 'userId',
    value: 'userId'
  },
  {
    title: 'Pay',
    key: 'pay',
    value: 'pay'
  },
  {
    title: 'Date',
    key: 'date',
    value: 'date'
  },
  {
    title: 'Salary Status',
    key: 'salaryStatus',
    value: 'salaryStatus'
  },
  { title: '', key: 'actions', sortable: false }
]
const loadingStore = useLoadingStore()
const form = ref(false)
const refForm = ref<VForm | null>(null)
const dialog = ref(false)
const dialogDelete = ref(false)
const loading = ref(false)
const menu = ref(false)

// ข้อมูล

function onSubmit() { }

function closeDelete() {
  dialogDelete.value = false
  nextTick(() => {
    salaryStore.clearForm()
  })
}

async function deleteItemConfirm() {
  await salaryStore.deleteSalary()
  closeDelete()
}

async function editItem(item: Salary) {
  if (!item.id) return
  await salaryStore.getSalary(item.id)
  dialog.value = true
}

async function deleteItem(item: Salary) {
  if (!item.id) return
  await salaryStore.getSalary(item.id)
  dialogDelete.value = true
}

function closeDialog() {
  dialog.value = false
  nextTick(() => {
    salaryStore.clearForm()
  })
}

async function save() {
  const { valid } = await refForm.value!.validate()
  if (!valid) return
  await salaryStore.saveSalary()
  closeDialog()
}

function searchfor(Input: string) {
  salaryStore.salarys = salaryStore.salarys.filter(function (salarys: any) {
    return (
      salarys.fullName.toLowerCase().includes(Input.toLowerCase()) || salarys.tel.includes(Input)
    )
  })
}
const input = ref('')
function extra() {
  searchfor(input.value)
}

const search = ref('')

onMounted(async () => {
  await salaryStore.getSalarys()
})

function formatDate(date: Date): string {
  const year = date.getFullYear();
  let month = (1 + date.getMonth()).toString().padStart(2, '0');
  let day = date.getDate().toString().padStart(2, '0');
  return `${year}-${month}-${day}`;
}

</script>

<template>
  <div>
    <v-data-table :headers="headers" :search="search" :items="salaryStore.salarys" class="custom-datatable">
      <template v-slot:top>
        <v-toolbar flat style="background-color: #4b382a">
          <v-toolbar-title style="color: white">Salary</v-toolbar-title>

          <v-text-field rounded v-model="search" label="Search" prepend-inner-icon="mdi-magnify" variant="solo"
            hide-details single-line></v-text-field>

          <v-spacer></v-spacer>

        </v-toolbar>
      </template>
    </v-data-table>
  </div>
</template>
<style scoped>
.custom-datatable {
  & th {
    background-color: rgba(174, 167, 160, 1);
    color: white;
    font-weight: bold;
  }

  & tbody tr:nth-child(even) {
    background-color: rgba(244, 238, 226, 1);
  }

  & tbody tr:nth-child(odd) {
    background-color: rgba(234, 227, 217, 1);
  }
}
</style>
