<script setup lang="ts">
// import { useSalaryStore } from '@/stores/salary';
import type { Salary } from '@/types/Salary'
import { computed, nextTick, ref } from 'vue'
import { onMounted } from 'vue'
import type { VForm } from 'vuetify/components'
import { useLoadingStore } from '@/stores/loading'
import { useSalaryStore } from '@/stores/salary'

const salaryStore = useSalaryStore()
//กำหนดหัวData table
const headers = [
  {
    title: 'Salary ID',
    key: 'id',
    value: 'id'
  },
  {
    title: 'User ID',
    key: 'userId',
    value: 'userId'
  },
  {
    title: 'Pay',
    key: 'pay',
    value: 'pay'
  },
  {
    title: 'Date',
    key: 'date',
    value: 'date'
  },
  {
    title: 'Salary Status',
    key: 'salaryStatus',
    value: 'salaryStatus'
  },
  { title: '', key: 'actions', sortable: false }
]
const loadingStore = useLoadingStore()
const form = ref(false)
const refForm = ref<VForm | null>(null)
const dialog = ref(false)
const dialogDelete = ref(false)
const loading = ref(false)
const menu = ref(false)

// ข้อมูล

function onSubmit() { }

function closeDelete() {
  dialogDelete.value = false
  nextTick(() => {
    salaryStore.clearForm()
  })
}

async function deleteItemConfirm() {
  await salaryStore.deleteSalary()
  closeDelete()
}

async function editItem(item: Salary) {
  if (!item.id) return
  await salaryStore.getSalary(item.id)
  dialog.value = true
}

async function deleteItem(item: Salary) {
  if (!item.id) return
  await salaryStore.getSalary(item.id)
  dialogDelete.value = true
}

function closeDialog() {
  dialog.value = false
  nextTick(() => {
    salaryStore.clearForm()
  })
}

async function save() {
  const { valid } = await refForm.value!.validate()
  if (!valid) return
  await salaryStore.saveSalary()
  closeDialog()
}

function searchfor(Input: string) {
  salaryStore.salarys = salaryStore.salarys.filter(function (salarys: any) {
    return (
      salarys.fullName.toLowerCase().includes(Input.toLowerCase()) || salarys.tel.includes(Input)
    )
  })
}
const input = ref('')
function extra() {
  searchfor(input.value)
}

const search = ref('')

onMounted(async () => {
  await salaryStore.getSalarys()
})

function formatDate(date: Date): string {
  const year = date.getFullYear()
  let month = (1 + date.getMonth()).toString().padStart(2, '0')
  let day = date.getDate().toString().padStart(2, '0')
  return `${year}-${month}-${day}`
}
</script>

<template>
  <div>
    <v-data-table :headers="headers" :search="search" :items="salaryStore.salarys" class="custom-datatable">
      <template v-slot:top>
        <v-toolbar flat style="background-color: #4b382a">
          <v-toolbar-title style="color: white">Salary</v-toolbar-title>

          <v-text-field rounded v-model="search" label="Search" prepend-inner-icon="mdi-magnify" variant="solo"
            hide-details single-line></v-text-field>

          <v-spacer></v-spacer>

          <v-dialog v-model="dialog" persistent width="1024">
            <template v-slot:activator="{ props }">
              <v-btn prepend-icon="mdi-cash" outlined v-bind="props" style="color: white; background-color: green">New
                Salary</v-btn>
            </template>
            <v-card elevation="5">
              <v-card-title>
                <span class="text-h5">Salary Profile</span>
              </v-card-title>
              <v-card-text>
                <v-form ref="refForm" v-model="form" @submit.prevent="onSubmit">
                  <v-container>
                    <v-row>
                      <v-col cols="12" sm="12" md="4">
                        <v-text-field v-model="salaryStore.editedSalary.userId" :readonly="loading"
                          :rules="[(v: any) => !!v || 'Field is required']" class="mb-2" clearable
                          label="User ID"></v-text-field>
                      </v-col>

                      <v-col cols="12" sm="12" md="4">
                        <v-text-field v-model="salaryStore.editedSalary.pay" :readonly="loading"
                          :rules="[(v: any) => !!v || 'Field is required']" clearable label="Pay"></v-text-field>
                      </v-col>

                      <v-col cols="12" sm="6">
                        <v-text-field v-model="formatDate" :readonly="loading" type="date"
                          :rules="[(v: any) => !!v || 'Field is required']" clearable label="Date"></v-text-field>
                      </v-col>

                      <v-col cols="12" sm="12" md="4">
                        <v-combobox v-model="salaryStore.editedSalary.salaryStatus" :items="[
                          { title: 'paid', value: 'paid' },
                          { title: 'unpaid', value: 'unpaid' }
                        ]" label="Select status" :return-object="false">
                        </v-combobox>
                      </v-col>
                    </v-row>
                  </v-container>
                </v-form>
                <small>*indicates required field</small>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue-darken-1" variant="text" @click="closeDialog()"> Close </v-btn>
                <v-btn color="blue-darken-1" variant="text" @click="save()"> Save </v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>

          <!-- Delete Dialog -->
          <v-dialog v-model="dialogDelete" max-width="500px">
            <v-card>
              <v-card-title class="text-h5">Are you sure you want to delete this item?</v-card-title>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue-darken-1" variant="text" @click="closeDelete">Cancel</v-btn>
                <v-btn color="blue-darken-1" variant="text" @click="deleteItemConfirm">OK</v-btn>
                <v-spacer></v-spacer>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-toolbar>
      </template>

      <template v-slot:[`item.actions`]="{ item }">
        <v-icon size="small" color="blue-accent-4" class="me-2" @click="editItem(item)">
          mdi-pencil
        </v-icon>
        <v-icon size="small" color="red-accent-4" @click="deleteItem(item)"> mdi-delete </v-icon>
      </template>

      <template v-slot:no-data>
        <v-btn color="#5e503f" @click="salaryStore.getSalary"> Reset </v-btn>
      </template>
    </v-data-table>
  </div>
</template>
<style scoped>
.custom-datatable {
  & th {
    background-color: rgba(174, 167, 160, 1);
    color: white;
    font-weight: bold;
  }

  & tbody tr:nth-child(even) {
    background-color: rgba(244, 238, 226, 1);
  }

  & tbody tr:nth-child(odd) {
    background-color: rgba(234, 227, 217, 1);
  }
}
</style>
