<script setup lang="ts">
import { useOrderStore } from '@/stores/order'
import type { Order } from '@/types/Receipt/Order'
import { ref } from 'vue'

defineProps<{
  order: Order
}>()

const orderStore = useOrderStore()

const currentTime = (item: any) => {
  // Assuming 'created' is a datetime property in the 'item' object
  const createdDate = new Date(item.created)
  return createdDate.toLocaleString() // Format datetime using toLocaleString()
}

const priceBeforeDiscount = (orderItems: any) => {
  let price = 0
  for (let i = 0; i < orderItems.length; i++) {
    price += orderItems[i].total
  }

  return price
}
const promotionDialog = ref(false)

const checkPromotion = (order: Order) => {
  if (order.promotions.length !== 0) return true
  return false
}

const getNullValue = (num: number) => {
  if (num < 0) {
    return '-'
  } else {
    return num
  }
}

const getDiscount = (promotion: any) => {
  if (promotion.priceDiscount !== -1) {
    return promotion.priceDiscount
  } else if (promotion.percentDiscount !== -1) {
    return promotion.percentDiscount + '%'
  } else {
    return '-'
  }
}
const getPoint = (item: any) => {
  if (item.getPoint !== -1) {
    return item.getPoint
  } else {
    return '-'
  }
}
</script>

<template>
  <v-card class="pa-6 mx-auto v-card_background" max-width="50%">
    <v-card-title>
      <v-row class="pa-0">
        <v-col>
          <span class="text-h5">Order ID : {{ orderStore.editedOrder.id }}</span>
        </v-col>
        <v-col style="text-align: right; font-size: 13px; font-weight: 600">
          <!-- // Format: 'YYYY-MM-DD' toISOString().slice(0, 10) -->
          Date : {{ currentTime(orderStore.editedOrder) }}</v-col
        >
      </v-row>
    </v-card-title>
    <v-container>
      <v-row>
        <v-col style="font-size: 11px; font-weight: 500">
          <div>Member ID : {{ order.member?.id }}</div>
          <div>
            Name :
            {{ order.member?.name }}
          </div>
        </v-col>
        <v-col style="font-size: 11px; font-weight: 500; text-align: right">
          <div>User ID : {{ order.user!.id }}</div>
          <div>Payment : {{ order.payment }}</div>
        </v-col>
      </v-row>
      <v-row style="text-align: center">
        <v-col style="font-size: 11px; font-weight: 500">
          <div>Get Point : {{ order.getPoint }}</div>
        </v-col>
        <v-col style="font-size: 11px; font-weight: 500; padding-bottom: 5%">
          <div>Use Point: {{ getNullValue(order.usePoint) }}</div>
        </v-col>
        <v-col style="font-size: 11px; font-weight: 500; padding-bottom: 5%">
          <div>Cash : {{ getNullValue(order.cash) }}</div>
        </v-col>
      </v-row>

      <v-row>
        <div class="mx-auto">Product List</div>
        <v-col cols="12">
          <v-card
            style="
              margin-left: 3px;
              margin-right: 3px;
              max-width: 80%;
              overflow: auto;
              max-height: 200px;
            "
            class="mx-auto"
          >
            <v-table>
              <thead>
                <tr style="background-color: #5e503f; color: white">
                  <th class="text-left">Product</th>
                  <th class="text-left">Price</th>
                  <th class="text-left">Sweet</th>
                  <th class="text-left">Qty</th>
                  <th class="text-left">Total</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="item in order.orderItems" :key="item.id" style="font-size: 10px">
                  <td>{{ item.name }}</td>
                  <td>{{ item.price }}</td>
                  <td>{{ item.sweet }}</td>
                  <td>{{ item.qty }}</td>
                  <td>{{ item.total }}</td>
                </tr>
                <!-- <tr style="font-size: 10px; background-color: white">
                  <td></td>
                  <td></td>
                  <td>Price</td>
                  <td>{{ priceBeforeDiscount(order.orderItems) }}</td>
                </tr>
                <tr style="font-size: 10px; background-color: white">
                  <td></td>
                  <td></td>
                  <td>Discount</td>
                  <td>{{ order.discount }}</td>
                </tr>
                <tr style="font-size: 10px; background-color: white">
                  <td></td>
                  <td></td>
                  <td>Total</td>
                  <td>{{ order.total }}</td>
                </tr> -->
              </tbody>
            </v-table>
          </v-card></v-col
        >
        <div class="mx-auto pa-2">
          <v-btn v-if="checkPromotion(order)" @click="promotionDialog = true">
            Promotion List</v-btn
          >
        </div>
      </v-row>
      <v-dialog v-model="promotionDialog">
        <v-card style="margin-left: 3px; margin-right: 3px; max-width: 80%" class="mx-auto">
          <v-table>
            <thead>
              <tr style="background-color: #5e503f; color: white">
                <th class="text-left">Promotion</th>
                <th class="text-left">Description</th>
                <th class="text-left">Discount</th>
                <th class="text-left">Point</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="item in order.promotions" :key="item.id" style="font-size: 10px">
                <td>{{ item.name }}</td>
                <td>{{ item.description }}</td>
                <td>{{ getDiscount(item) }}</td>
                <td>
                  {{ getPoint(item) }}
                </td>
              </tr>
              <!-- <tr style="font-size: 10px; background-color: white">
                  <td></td>
                  <td></td>
                  <td>Price</td>
                  <td>{{ priceBeforeDiscount(order.orderItems) }}</td>
                </tr>
                <tr style="font-size: 10px; background-color: white">
                  <td></td>
                  <td></td>
                  <td>Discount</td>
                  <td>{{ order.discount }}</td>
                </tr>
                <tr style="font-size: 10px; background-color: white">
                  <td></td>
                  <td></td>
                  <td>Total</td>
                  <td>{{ order.total }}</td>
                </tr> -->
            </tbody>
          </v-table>
        </v-card>
      </v-dialog>
    </v-container>
    <v-card class="mx-auto" style="width: 40%; font-size: 10px">
      <div style="padding: 10%">
        <v-row>
          <v-col>Price : </v-col>
          <v-col style="text-align: right"> {{ priceBeforeDiscount(order.orderItems) }} </v-col>
        </v-row>
        <v-row>
          <v-col>Discount : </v-col>
          <v-col style="text-align: right"> {{ order.discount }} </v-col>
        </v-row>
        <v-row>
          <v-col>Total : </v-col>
          <v-col style="text-align: right"> {{ order.total }} </v-col>
        </v-row>
      </div>
    </v-card>
    <v-row>
      <v-col>
        <v-btn width="40%" color="#bc4749" variant="tonal" @click="orderStore.detailDialog = false"
          >close</v-btn
        ></v-col
      ><v-col style="text-align: right">
        <v-btn
          width="40%"
          color="blue-darken-1"
          variant="tonal"
          @click="orderStore.createInvoiceFromObject(order)"
          >Print PDF</v-btn
        ></v-col
      >
    </v-row>
  </v-card>
</template>

<style>
.v-card_background {
  background-color: #eae0d5;
}
</style>
@/stores/pdfInvoice
