<script setup lang="ts">
import { provide, ref } from 'vue'
import FullLayout from './layouts/FullLayout.vue'
import MainLayout from './layouts/MainLayout.vue'
import { useRoute } from 'vue-router'
import LoadingDialog from './components/LoadingDialog.vue'

const rail = ref(true)
const drawer = ref(true)
const route = useRoute()

provide('rail', rail)
provide('drawer', drawer)
</script>

<template>
  <v-layout class="rounded rounded-md">
    <component :is="route.meta.layout === 'MainLayout' ? MainLayout : FullLayout"></component>
  </v-layout>
  <LoadingDialog></LoadingDialog>
</template>
<style scoped></style>
<style>
body {
  font-family: 'Kanit';
}
</style>