<template>
  <v-layout class="rounded rounded-md">
    <v-main class="align-center justify-center">
      <div>
        <router-view></router-view>
      </div>
    </v-main>
  </v-layout>
</template>
