<script setup lang="ts">
import { useAuthStore } from '@/stores/auth'
import CheckStockDetailTable from './CheckStockDetailTable.vue'
import { useMaterialStore } from '@/stores/stock/material'
function formatDate(date: any) {
  const year = date.getFullYear()
  const month = String(date.getMonth() + 1).padStart(2, '0')
  const day = String(date.getDate()).padStart(2, '0')
  const hours = String(date.getHours()).padStart(2, '0')
  const minutes = String(date.getMinutes()).padStart(2, '0')
  const seconds = String(date.getSeconds()).padStart(2, '0')

  return `${day}/${month}/${year} ${hours}:${minutes}:${seconds}`
}

const materialStore = useMaterialStore()
const date = formatDate(new Date())
const authStore = useAuthStore()
</script>
<template>
  <v-container>
    <v-card style="background-color: #eae0d5">
      <v-row no-gutters class="textSize">
        <v-col cols="10">
          <v-card-text style="font-size: 18px"> Date : {{ date }} </v-card-text>
        </v-col>
        <v-col cols="2">
          <v-card-text style="font-size: 18px"
            >Name: {{ authStore.getCurrentUser()?.fullName }}
          </v-card-text>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="12">
          <v-card style="width: 100%">
            <CheckStockDetailTable></CheckStockDetailTable
          ></v-card> </v-col
      ></v-row>
    </v-card>
  </v-container>
</template>
