<script setup lang="ts">
import { useCheckStockStore } from '@/stores/stock/checkStock'
import { useMaterialStore } from '@/stores/stock/material'
import type { CheckDetail } from '@/types/stock/CheckDetail'
import type { Material } from '@/types/stock/Materials'
import { onMounted, ref } from 'vue'

const materialStore = useMaterialStore()
const material = ref<Material>()

const checkStockStore = useCheckStockStore()
const snackbar = ref(false)
const loading = ref(false)
materialStore.qt_previous = [materialStore.editedMaterials.length]

const headers = [
  {
    title: 'Id',
    key: 'id',
    value: 'id'
  },

  {
    title: 'Name',
    key: 'name',
    value: 'name'
  },
  {
    title: 'Quantity',
    key: 'quantity',
    value: 'quantity'
  }

  // { title: 'Actions', key: 'actions', sortable: false }
]

const getIndex = (item: Material) => {
  const index = materialStore.editedMaterials.findIndex((item1) => item1.id === item.id)
  console.log(materialStore.qt_previous[index], materialStore.editedMaterials[index].quantity)
  return index
}

function setPreviousQty() {
  for (let i = 0; i < materialStore.editedMaterials.length; i++) {
    materialStore.qt_previous[i] = materialStore.editedMaterials[i].quantity
  }
}
onMounted(async () => {
  materialStore.editedMaterials = materialStore.materials
  setPreviousQty()
})
</script>

<template slot-scope="props">
  <v-row>
    <v-col cols="12">
      <v-data-table
        :headers="headers"
        :items="materialStore.editedMaterials"
        style="background-color: #eae0d5"
      >
        <template v-slot:top>
          <v-toolbar flat style="background-color: #5e503f">
            <v-toolbar-title style="color: white"
              ><span class="mdi mdi-dolly" style="padding: 3%; font-size: 16px"></span
              >Materials</v-toolbar-title
            >
            <v-divider class="mx-4" inset vertical></v-divider>
            <v-spacer></v-spacer>
          </v-toolbar>
        </template>
        <template v-slot:[`item.quantity`]="{ item }">
          <v-text-field
            type="number"
            v-model="materialStore.editedMaterials[getIndex(item)].quantity"
          ></v-text-field>
          <!-- <v-icon size="small" class="me-2" @click="editItem(item)"> mdi-pencil </v-icon>
          <v-icon size="small" @click="deleteItem(item)"> mdi-delete </v-icon> -->
        </template>
        <template v-slot:no-data>
          <v-btn color="primary" @click="materialStore.getMaterials"> Reset </v-btn>
        </template>
      </v-data-table>
    </v-col>
  </v-row>
</template>
