<script setup lang="ts">
import { useCheckStockStore } from '@/stores/stock/checkStock'
import type { CheckDetail } from '@/types/stock/CheckDetail'
import type { CheckMaterial } from '@/types/stock/CheckMaterials'
import { nextTick, onMounted, ref } from 'vue'
import ReportDetail from './ReportDetail.vue'
import axios from 'axios'
import { useReportStore } from '@/stores/stock/report'
import ReportUsed from './Report/ReportUsed.vue'
import ReportQty from './Report/ReportQty.vue'

const used = ref()
const qty = ref()
const Qty = ref(0)
const total = ref(0)
const stockStore = useCheckStockStore()
const reportStore = useReportStore()
const dialogDelete = ref(false)
const dialog = ref(false)

const headers = [
  {
    title: 'Id',
    key: 'id',
    value: 'id'
  },
  {
    title: 'Date',
    key: 'date',
    value: 'date'
  },

  {
    title: 'Total Price',
    key: 'totalPrice',
    value: 'totalPrice'
  },
  {
    title: 'Total Qty',
    key: 'totalQty',
    value: 'totalQty'
  },
  {
    title: 'Total Use',
    key: 'totalUse',
    value: 'totalUse'
  },

  { title: 'Description', key: 'actions', sortable: false },
  { title: 'Delete', key: 'del', sortable: false }
]

function closeDelete() {
  dialogDelete.value = false
  nextTick(() => {
    stockStore.clearForm()
  })
}

function closeDialog() {
  dialog.value = false
}

async function deleteItemConfirm() {
  await stockStore.deleteStock()
  closeDelete()
}

async function deleteItem(item: CheckMaterial) {
  if (!item.id) return
  await stockStore.getStock(item.id)
  dialogDelete.value = true
}

async function des(item: CheckMaterial) {
  console.log(item.stockDetails)
  if (!item.id) return
  await stockStore.showStockDetial(item.id)
  dialog.value = true
}

async function getReportTotalUsed(): Promise<any> {
  try {
    const res = await axios.get('http://localhost:3000/stock-report/reportTotalUsed')
    console.log(res)
    used.value = res.data.map((it: any) => {
      return it.used
    })
    for (let index = 0; index < used.value.length; index++) {
      total.value += used.value[index]
    }
    return total
  } catch (error) {
    console.error(error)
    return []
  }
}

async function getReportTotalQty(): Promise<any> {
  try {
    const res = await axios.get('http://localhost:3000/stock-report/reportTotalQty')
    console.log(res)
    qty.value = res.data.map((it: any) => {
      return it.quantity
    })
    for (let index = 0; index < qty.value.length; index++) {
      Qty.value += qty.value[index]
    }
    console.log('11111111111111', Qty)

    console.log(qty)

    return Qty
  } catch (error) {
    console.error(error)
    return []
  }
}

onMounted(async () => {
  await getReportTotalUsed()
  await getReportTotalQty()
})

onMounted(async () => {
  await stockStore.getStocks()
})
</script>
<template>
  <v-container fluid style="background-color: #c6ac8f">
    <v-row><br /></v-row>
    <v-row>
      <v-col col="1"></v-col>
      <v-col cols="5">
        <v-btn
          class="rounded-l"
          height="80"
          color="#43A047"
          elevation="1"
          width="100%"
          @click="reportStore.openGraph"
        >
          <v-container>
            <v-row class="d-flex justify-content-center">
              <v-col cols="12"><h5 style="color: white">Total Used</h5></v-col>
            </v-row>
            <row class="d-flex justify-content-center">
              <v-col cols="12"
                ><h2 style="color: white; margin-top: -6px">{{ total * -1 }}</h2>
              </v-col>
            </row>
          </v-container>
        </v-btn>
      </v-col>

      <v-col cols="5">
        <v-btn
          class="rounded-l"
          height="80"
          color="#0097A7"
          elevation="1"
          width="100%"
          @click="reportStore.openGraph2"
        >
          <v-container>
            <v-row class="d-flex justify-content-center">
              <v-col cols="12"><h5 style="color: white">Total Quantity</h5></v-col>
            </v-row>
            <row class="d-flex justify-content-center">
              <v-col cols="12">
                <h2 style="color: white; margin-top: -6px">{{ Qty }}</h2>
              </v-col>
            </row>
          </v-container>
        </v-btn>
      </v-col>
      <v-col col="1"></v-col>
    </v-row>
    <v-row><br /></v-row>
    <!-- <v-row>
      <v-col cols="8">
        <div style="padding-bottom: 20px">
          <v-text-field
            v-model="stockStore.searchQuery"
            density="compact"
            label="Search Material"
            prepend-inner-icon="mdi-magnify"
            color="#5e503f"
            style="width: 400px; color: black; background-color: #eae0d5; border-radius: 5%"
            variant="outlined"
            hide-details
            single-line
          ></v-text-field>
        </div>
      </v-col>
    </v-row> -->

    <v-row>
      <v-card style="width: 100%">
        <v-data-table
          :headers="headers"
          :items="stockStore.filteredStock"
          style="background-color: #eae0d5"
          :search="stockStore.searchQuery"
          item-key="date"
        >
          <template v-slot:top>
            <v-toolbar flat style="background-color: #5e503f; color: white; border: 1%">
              <v-toolbar-title>
                <v-row><br /></v-row>
                <v-row>
                  <v-col cols="8">Report Stock</v-col>
                  <v-spacer></v-spacer>
                  <v-col cols="4">
                    <div style="padding-bottom: 30px">
                      <v-text-field
                        v-model="stockStore.searchQuery"
                        density="compact"
                        label="Search Material"
                        prepend-inner-icon="mdi-magnify"
                        color="#5e503f"
                        style="
                          width: 420px;
                          color: black;
                          background-color: #eae0d5;
                          border-radius: 5%;
                        "
                        variant="outlined"
                        hide-details
                        single-line
                      ></v-text-field>
                    </div>
                  </v-col> </v-row
              ></v-toolbar-title>
              <v-divider class="mx-4" inset vertical></v-divider>

              <!-- Delete Dialog-->
              <v-dialog v-model="dialogDelete" max-width="500px">
                <v-card style="background-color: #eae0d5">
                  <v-card-title class="text-h5"
                    >Are you sure you want to delete this item?</v-card-title
                  >
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="#bc4749" variant="flat" @click="closeDelete">Cancel</v-btn>
                    <v-btn color="#4bab57" variant="flat" @click="deleteItemConfirm">OK</v-btn>
                    <v-spacer></v-spacer>
                  </v-card-actions>
                </v-card>
              </v-dialog>

              <v-dialog v-model="dialog">
                <v-card class="mx-auto" style="width: 700px; background-color: #eae0d5">
                  <v-card-title class="text-h5" style="text-align: center"
                    >Stock Details<br />-------------------------------------------</v-card-title
                  >
                  <v-container>
                    <ReportDetail></ReportDetail>

                    <v-row><br /></v-row>
                  </v-container>

                  <v-card-actions>
                    <v-col cols="3"></v-col>
                    <v-col cols="6"
                      ><v-btn width="150px" color="#bc4749" variant="flat" @click="closeDialog()">
                        Close
                      </v-btn>
                      <v-btn width="150px" color="blue-darken-2" variant="flat">
                        Print
                      </v-btn></v-col
                    >
                    <v-col cols="3"></v-col>
                  </v-card-actions>
                  <!-- <v-card-text> {{ stockStore.editedCheckStock }} </v-card-text> -->
                </v-card>
              </v-dialog>
            </v-toolbar>
          </template>

          <template v-slot:[`item.del`]="{ item }">
            <v-icon size="x-large" color="#bc4749" @click="deleteItem(item)">
              mdi-delete-circle
            </v-icon>
          </template>

          <template v-slot:[`item.actions`]="{ item }">
            <v-icon size="large" color="#4bab57" @click="des(item)"> mdi-newspaper-variant </v-icon>
          </template>

          <template v-slot:no-data>
            <v-btn color="#5e503f" @click="stockStore.getStocks"> Reset </v-btn>
          </template>
        </v-data-table>
      </v-card>
    </v-row>
    <ReportUsed></ReportUsed>
    <ReportQty></ReportQty>
  </v-container>
</template>
