<script setup lang="ts">
import { nextTick, onMounted, ref, watch, type Ref, computed } from 'vue'
import type { VForm } from 'vuetify/components'
import type { Material } from '@/types/stock/Materials'
import { useMaterialStore } from '@/stores/stock/material'
import CheckStock from './CheckStock.vue'
import { useCheckStockStore } from '@/stores/stock/checkStock'
import type { CheckMaterial } from '@/types/stock/CheckMaterials'
import type { CheckDetail } from '@/types/stock/CheckDetail'

const refForm = ref<VForm | null>(null)
const materialStore = useMaterialStore()
const checkStockStore = useCheckStockStore()

const headers = [
  {
    title: 'Id',
    key: 'id',
    value: 'id'
  },
  {
    title: 'In_date',
    key: 'in_date',
    value: 'in_date'
  },

  {
    title: 'Name',
    key: 'name',
    value: 'name'
  },
  {
    title: 'Price',
    key: 'price',
    value: 'price'
  },
  {
    title: 'Qt_previous',
    key: 'qt_previous',
    value: 'qt_previous'
  },
  {
    title: 'Quantity',
    key: 'quantity',
    value: 'quantity'
  },
  {
    title: 'Use',
    key: 'use',
    value: 'use'
  },
  {
    title: 'Min',
    key: 'min',
    value: 'min'
  },
  {
    title: 'Status',
    key: 'status',
    value: 'status'
  },

  { title: 'Actions', key: 'actions', sortable: false }
]

const loading = ref(false)
const form = ref(false)
const dialog = ref(false)
const dialog1 = ref(false)
const dialogDelete = ref(false)
const material = ref<Material>()
const editedMaterials = <Material[]>[]

function onSubmit() {}

// async function EditeQty(m: Material) {
//   material.value = m
//   const newStockDetail = await materialStore.editedStockDetail
//   await checkStockStore.addCheckStockDetail(newStockDetail)
// }

function closeDelete() {
  dialogDelete.value = false
  nextTick(() => {
    materialStore.clearForm()
  })
}

function setPreviousQty() {
  for (let i = 0; i < materialStore.editedMaterials.length; i++) {
    editedMaterials[i].qt_previous = materialStore.editedMaterials[i].quantity
  }
}

// Delete item from list
async function deleteItemConfirm() {
  await materialStore.deleteMaterial()
  closeDelete()
}

async function deleteItem(item: Material) {
  if (!item.id) return
  await materialStore.getMaterial(item.id)
  dialogDelete.value = true
}
async function editItem(item: Material) {
  if (!item.id) return
  await materialStore.getMaterial(item.id)
  dialog.value = true
}

async function save() {
  const { valid } = await refForm.value!.validate()
  if (!valid) return
  await materialStore.saveMaterial()
  await materialStore.getMaterials()
  closeDialog()
}

async function save1() {
  materialStore.checkStock = true
  console.log('NewMaterials11111111111', materialStore.editedMaterials)
  console.log('materials', materialStore.materials)
  const { valid } = await refForm.value!.validate()
  if (!valid) return

  // checkStockStore.checkStockDetail =
  await materialStore.saveMaterial()
  // await checkStockStore.saveCheckStock()
  await materialStore.getMaterials()

  // await checkStockStore.saveCheckStock()
  closeDialog1()
}

function closeDialog() {
  dialog.value = false
  nextTick(() => {
    materialStore.clearForm()
  })
}

function closeDialog1() {
  dialog1.value = false
  nextTick(() => {
    materialStore.clearForm()
  })
}

onMounted(async () => {
  await materialStore.getMaterials()
})
</script>

<template>
  <v-container fluid style="background-color: #c6ac8f">
    <v-row>
      <v-col cols="8">
        <div style="padding-bottom: 20px">
          <v-text-field
            v-model="materialStore.searchQuery"
            density="compact"
            label="Search Material"
            prepend-inner-icon="mdi-magnify"
            color="#5e503f"
            style="width: 400px; color: black; background-color: #eae0d5; border-radius: 7%"
            variant="outlined"
            hide-details
            single-line
          ></v-text-field>
        </div>
      </v-col>

      <v-col cols="4" class="d-flex align-end flex-column">
        <v-dialog v-model="dialog1" persistent width="1024">
          <template v-slot:activator="{ props }">
            <v-btn color="#5e503f" variant="flat" v-bind="props"> Check Stock </v-btn>
          </template>

          <!-- Check Stock -->
          <v-card style="background-color: #c6ac8f">
            <v-card-title style="text-align: center; height: 80px; color: white">
              <span class="text-h5" style="margin: 2px"><br />Check Stock</span>
            </v-card-title>
            <v-card-text>
              <v-form ref="refForm" v-model="form" @submit.prevent="onSubmit">
                <v-container>
                  <v-row>
                    <CheckStock></CheckStock>
                  </v-row> </v-container></v-form
            ></v-card-text>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="#bc4749" variant="flat" @click="closeDialog1()"> Close </v-btn>
              <v-btn color="#4bab57" variant="flat" border="1px" @click="save1()"> Save </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-col>
    </v-row>

    <v-row>
      <v-card style="width: 100%">
        <v-data-table
          :headers="headers"
          :items="materialStore.filteredMaterials"
          style="background-color: #eae0d5"
          :search="materialStore.searchQuery"
          item-key="id"
        >
          <template v-slot:[`item.status`]="{ item }">
            <v-chip :color="materialStore.getColor(item.status)" size="small" label>
              {{ item.status }}
            </v-chip>
          </template>
          <template v-slot:top>
            <v-toolbar flat style="background-color: #5e503f; color: white; border: 1%">
              <v-toolbar-title>Materials</v-toolbar-title>
              <v-divider class="mx-4" inset vertical></v-divider>
              <v-spacer></v-spacer>

              <!-- Put Edited Dialog -->

              <v-dialog v-model="dialog" persistent width="1024">
                <template v-slot:activator="{ props }">
                  <v-btn variant="outlined" color="white" v-bind="props"> New Material </v-btn>
                </template>

                <v-card style="background-color: #eae0d5">
                  <v-card-title>
                    <span class="text-h5">Material Profile</span>
                  </v-card-title>
                  <v-card-text>
                    <v-form ref="refForm" v-model="form" @submit.prevent="onSubmit">
                      <v-container>
                        <v-row>
                          <v-col cols="12" sm="12" md="6">
                            <v-text-field
                              v-model="materialStore.editedMaterial.name"
                              :readonly="loading"
                              :rules="[(v) => !!v || 'Field is required']"
                              class="mb-2"
                              clearable
                              label="Name"
                            ></v-text-field>
                          </v-col>
                          <v-col cols="12" sm="12" md="6">
                            <v-text-field
                              v-model="materialStore.editedMaterial.price"
                              :readonly="loading"
                              :rules="[(v) => !!v || 'Field is required']"
                              class="mb-2"
                              clearable
                              label="Price"
                            ></v-text-field>
                          </v-col>
                          <v-col cols="12" sm="12" md="6">
                            <v-text-field
                              v-model="materialStore.editedMaterial.quantity"
                              :readonly="loading"
                              :rules="[(v) => !!v || 'Field is required']"
                              clearable
                              label="Quantity"
                            ></v-text-field>
                          </v-col>
                          <v-col cols="12" sm="12" md="6">
                            <v-text-field
                              v-model="materialStore.editedMaterial.min"
                              :readonly="loading"
                              :rules="[(v) => !!v || 'Field is required']"
                              clearable
                              label="Min"
                            ></v-text-field>
                          </v-col>
                          <!-- <v-col cols="12" sm="12" md="4">
                        <v-img
                          :src="
                            'http://localhost:3000/images/materials/' +
                            materialStore.editedMaterial.image
                          "
                          width="200"
                        ></v-img>
                      </v-col>
                      <v-col cols="12" sm="12" md="6">
                        <v-file-input
                          v-model="materialStore.editedMaterial.files"
                          :rules="[
                            (value) => {
                              return (
                                !value ||
                                !value.length ||
                                value[0].size < 2000000 ||
                                'Image size should be less than 2 MB!'
                              )
                            }
                          ]"
                          accept="image/png, image/jpeg"
                          placeholder="Pick an image"
                          prepend-icon="mdi-camera"
                          label="Image"
                        ></v-file-input>
                      </v-col> -->
                        </v-row>
                      </v-container>
                    </v-form>
                    <small>*indicates required field</small>
                  </v-card-text>
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="#bc4749" variant="flat" @click="closeDialog()"> Close </v-btn>
                    <v-btn color="#4bab57" variant="flat" border="1px" @click="save()">
                      Save
                    </v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>

              <!-- Delete Dialog-->
              <v-dialog v-model="dialogDelete" max-width="500px">
                <v-card style="background-color: #eae0d5">
                  <v-card-title class="text-h5"
                    >Are you sure you want to delete this item?</v-card-title
                  >
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="#bc4749" variant="flat" @click="closeDelete">Cancel</v-btn>
                    <v-btn color="#4bab57" variant="flat" @click="deleteItemConfirm">OK</v-btn>
                    <v-spacer></v-spacer>
                  </v-card-actions>
                </v-card>
              </v-dialog>
            </v-toolbar>
          </template>

          <template v-slot:[`item.actions`]="{ item }">
            <v-icon size="small" class="me-2" @click="editItem(item)"> mdi-pencil </v-icon>
            <v-icon size="small" @click="deleteItem(item)"> mdi-delete </v-icon>
          </template>
          <!-- <template v-slot:[`item.image`]="{ item }">
        <v-img :src="'http://localhost:3000/images/materials/' + item.image" width="100"></v-img>
      </template> -->

          <template v-slot:no-data>
            <v-btn color="#5e503f" @click="materialStore.getMaterials"> Reset </v-btn>
          </template>
        </v-data-table>
      </v-card>
    </v-row>
  </v-container>
</template>
